
form{
  label{
    line-height: 15px;
  }
}
.form-control{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.select-n {
  position: relative;

  &:after{
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 8px solid $silver;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
  select{
    background-color: white;
    border: 2px solid $silver;
    color: $wet-asphalt;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// tags input
.tagsinput {
  background: white;
  border: 2px solid #1abc9c;
  border-radius: 6px;
  height: 100px;
  margin-bottom: 18px;
  padding: 6px 1px 1px 6px;
  overflow-y: auto;
  text-align: left;
}
.tagsinput .tag {
  border-radius: 4px;
  background-color: #1abc9c;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  line-height: 15px;
  padding: 6px 13px 8px 19px;
  position: relative;
  vertical-align: middle;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
.tagsinput .tag:hover {
  background-color: #16a085;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 20px;
}
.tagsinput .tag:hover .tagsinput-remove-link {
  color: #ffffff;
  opacity: 1;
  display: block\9;
}
.tagsinput input {
  background: transparent;
  border: none;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0 0 0 5px;
  outline: none !important;
  margin: 6px 5px 0 0;
  vertical-align: top;
  width: 12px;
}
.tagsinput-remove-link {
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
  padding: 7px 7px 5px 0;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  top: 0;
  width: 100%;
  z-index: 2;
  display: none\9;
}
.tagsinput-remove-link:before {
  color: #ffffff;
}
.tagsinput-add-container {
  vertical-align: middle;
  display: inline-block;
}
.tagsinput-add {
  background-color: #d6dbdf;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 5px;
  padding: 7px 9px;
  vertical-align: top;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}
.tagsinput-add:hover {
  background-color: #1abc9c;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}


*{
  // -webkit-backface-visibility: hidden;
}


.border-radius{
  @include border-radius(6px);
}

.line-divisor{
  height: 1px;
  background-color: $clouds;
  margin: 15px 
}

.text-inline{
  display: inline-block;
  vertical-align: middle;
}

.container-principal{
  margin-top: 20px;
}


// Margins --------
.margin-top{
  margin-top: 15px;
}

.margin-bottom{
  margin-bottom: 15px;
}

.margin-right{
  margin-right: 15px;
}

.margin-left{
  margin-left: 15px;
}

.no-float{
  float: none;
}
.irs{
  .irs-single{
    background-color: $midnight-blue;
    color: white;
  }
  .irs-min, .irs-max{
    background-color: $turquoise;
    color: white;
  }
}

.btn-facebook {
  background-color: #446CB3;
  color:white;
}

.text-align-center {
  text-align: center;
}

.pagination-container-center {
  text-align: center;
  clear: both;
}

.min-loader {
  position: absolute;
  top: 2px;
  right: -48px;
  width: 40px;
  opacity: 0.9;
}


.loader-bar {
  @include transition-property(width);
  @include transition-duration(0.7s);
  @include transition-timing-function(ease-in-out);
  position: fixed;
  top:0;
  left: 0;
  z-index: 100000;
  width: 0%;
  height: 3px;
  background-color:$turquoise;
  
}

button.loading-primary{
  position: relative;
  overflow: hidden;
  
  &:after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background: #1abc9c image-url('loader_mini_send.gif') center center no-repeat;
    left: 0;
    top: 0;
  }
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  width: 100%;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #eee;
}

.dropdown-arrow-inverse {
  border-top-color:  #f3f4f5!important;
  border-bottom-color: #f3f4f5!important;
}

.nav-tabs .dropdown-menu {
  @include border-radius(4px);
}

.box-shadow-pretty{
    @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, .1));
    padding: 5px;
    background-color: white;
}

/*------- USER AVATAR -------*/
.user-perfil{
  margin-right: 10px;
  display: inline-block;
  
  .avatar{
    overflow: hidden;
    margin: 0 auto 10px auto;
    width: 70px;
    height: 70px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    
    &:after{
      width: 200%;
      height: 200%;
      background-color: rgba(255,255,255,0.2);
      position: absolute;
      content: "";
      left: -120%;
      top: -90%;
      @include border-radius(50%);
    }

    img{
      min-height: 100%;
      width: 100%;
    }
  }
  .record{
    
    .progress{
      height: 4px;
    }
  }
}

.star-rating{

  .star{
    color: lighten($concrete, 25%);
    font-size: 19px;

    &.active{
      color: $sun-flower;
    }
  }

  &:hover{
    .star{
      &.hover{
        color: $concrete;
        cursor:pointer;
      }
      &.active{
        &.hover{
          color: $sun-flower;
        }
      }
    }
  }
}

.tabs-pretty{
  margin-top: 20px;
  .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
    border: 0;
  }
  ul.nav-tabs{
    position: relative;
    padding: 0 20px;
    border-bottom: 0;
    
    > li > a{
      border: 0;
    }
    > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
      border: 0;
    }


    >li{
      height: 45px;
      >a{
        color: $asbestos;

        &:hover{
          // background: none;
          border: 0;
          color: $turquoise;

          .caret{
            border-top-color: $turquoise;
            border-bottom-color: $turquoise;
          }
        }

        .caret{
          border-top-color: $asbestos;
          border-bottom-color: $asbestos;
        }
      }

      &.active{
        @include box-shadow(0px 1px 1px 0px rgba(0, 0, 0, .2));
        @include border-radius(4px 4px 0 0);
        background-color: white;

        >a{
          border: 0;
          color: $turquoise;

          .caret{
            border-top-color: $turquoise;
            border-bottom-color: $turquoise;
          }
        }
      }
    }
  }

  .tab-content{
    @include border-radius(4px);
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    background-color: white;

    .tab-pane{
      padding: 30px;       
    }
  }
}

.modal-body {
  .form-field {
    margin: 10px 0;
  }
}

.clear-both{
  clear: both;
}

