.normal-page {
  border-top: 1px solid #F1F1F1;
  border-right: 1px solid #E7E6E6;
  border-left: 1px solid #E7E6E6;
  background: white;
  padding-bottom: 30px;
  border-radius: 6px;
  border-bottom: 1px solid #CFCFCF;
  min-height: 500px;
  margin: 0 auto;
  padding: 30px;
}

.nooxr-pass-change-screen {
  text-align: center;
  .form-field {
    margin:20px 0;
  }
}

.nooxr-notifications-screen {
  table {
    width: 100%;
  }
  .date {
    text-align:center;
    font-size: 12px;
    padding-left: 15px;
    width: 20%;
  }
  .notification {
    font-size: 16px;
    padding: 10px 20px;
    width: 80%;
  }
}

.nooxr-tradeins-screen {
  .tradein {
    font-size: 16px;
    padding: 10px 20px;
  }
}

