@import "compass/css3";
@import "helpers/color";
@import "helpers/fonts";

.browsehappy {
    background: #ccc;
    color: #000;
    padding: 10px 20px;
    margin-top: -20px;
    margin-bottom: 20px;

}

html{
  font-size: 14px;
}
@media (max-width: 768px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}
/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6f8f8;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
// Mixin itself
.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/************ LAYOUTS ************/
@import "layouts/header";
// Import Nav Menu
@import "layouts/nav";
// Game Box
@import "layouts/game-box";
// Import Game box small
@import "layouts/game-box-small";
// Notice
@import "layouts/notice";
// Import Footer
@import "layouts/footer";
// Select 2
@import "layouts/select2";
// Pagination
@import "layouts/pagination";
// Comments
@import "layouts/comments";
// Other
@import "layouts/global";
// Account Tabs
@import "layouts/account-tabs";
// Pretty Header
@import "layouts/pretty-header";
// Sweet Alert
@import "layouts/sweet-alert";


/************ PAGES ************/
// import Screens style
@import "global";
// import Screens style
@import "screens";
// Import Page home
@import "pages/home";
// Import Page Product details
@import "pages/product";
// Import Offers details
@import "pages/offer";
// Import Profile details
@import "pages/profile";
// Import Sales Active
@import "pages/sales-active";
// Import Sales Active
@import "pages/sales-finished";
// Import Responsive
@import "pages/purchase";
// Trade In
@import "pages/tradein";
// Payment
@import "pages/payment";
// Payment Complete
@import "pages/payment-complete";
// Ad
@import "pages/ad-add";
// wishlist
@import "pages/wishlist";
// Account
@import "pages/account";
// Login
@import "pages/login";
// Transactions
@import "pages/transactions";
// Contact Us
@import "pages/contact-us";
// Register
@import "pages/register";


// Import Responsive
@import "responsive";


.container-narrow > hr {
    margin: 30px 0;
}
.btn.btn-social{
  width: 205px;
  padding: 6px 12px;
  padding-left: 35px;
  text-align: center;
  margin-top: 15px;

  .count{
    position: absolute;
    left: 32px;
    top: 0;
    bottom: 0;
    width: 48px;
    line-height: 34px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0,0,0,0.5);
  }
}
