.account-tabs-nav {
  margin-top: 20px;
  list-style: none;
  font-size: 15px;
  padding-left: 0;
  border-bottom: 1px solid $silver;

  li{
    margin-right: 20px;
    a{
      color: $asbestos;
      &.dropdown-toggle{
        .caret{
          margin-left: 5px;
        }
      }
    }
    &.active{
      a{
        color: $wet-asphalt;
      }
    }
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .account-tabs-nav{
    font-size: 13px;
    li{
      margin-right: 10px;
      a{
        &.dropdown-toggle{
          .caret{
            margin-left: 2px;  
            border-top-width: 6px;
            border-right-width: 4px;
            border-left-width: 4px;
          }
        }
      }
    }
  }
}