.comments{

  .comment-container{
    position: relative;
    margin-top: 35px;
    margin-bottom: 15px;
    
    &.reply{
      .comment-cont{
        > p.comment{
          color: $asbestos; 
        }
      }

    }
    &.accepted{

      .accepted-cont{
        display: block;
      }
      
    }
    
    .accepted-cont{
      position: absolute;
      top: 0px;
      right: 8px;
      display: none;
      font-size: 14px;
    }


    .perfil-cont, .comment-cont{
      position: relative;
      display: inline-block;
      vertical-align: top;
    }


    .comment-cont{
      @include border-radius(4px);
      padding: 0 10px;
      min-height: 70px;
      width: 70%;
      font-size: 14px;


      .comment-header{
        .username{

        }
        .time{
          margin-left: 10px;
          font-size: 10px;
        }
      }
      p.comment{
        font-size: 14px;
        line-height: 1.2;
      }
      
      .btn-reply{
        margin: 12px 0;
        padding: 5px 10px;
        font-weight: bold;
        font-size: 12px;
      }
      .reply-cont{
        textarea{

        }

        .message{
          display: inline-block;
          margin-top: 10px;
          margin-right: 30px;
          color: $concrete;
          font-size: 11px;
          
          .label{
            margin: 0 3px;
            padding: 2px 3px;
            background-color: $clouds;
            color: $concrete;
            font-size: 11px;
          }

        }
      }

      .response{
        position: relative;
        margin-top: 20px;
        margin-left: 30px;
        
        i{
          @include transform(rotate(90deg));
          position: absolute;
          top: 18px;
          left: -20px;
          color: $asbestos;
        }
        
        .response-header{
          font-size: 10px;
          
          .title{

            .username{
              font-weight: 600;
            }
          }
          .time{
            margin-left: 10px;
          }
        }
        p.comment{

        }
      }
    }
    
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .comments{
    .comment-container{
      
      .perfil-cont{
        .user-perfil{
          margin-right: 5px;
          .avatar{
            width: 40px;
            height: 40px;
            border-width:1px;
          }
        }
      }

      .comment-cont{
        width: 83%;
      }
    }

  }
}