/* Custom page footer */
.footer {
  margin-top: 30px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    p {
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
    }
}