.game.game-box-small{
      @include box-sizing(border-box);
      margin-left: 15px;
      width: 158px;
      height: 180px;
      display: inline-block;
      
      
      .cover{
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        @include box-sizing(border-box);
        
        &.tile.tile-hot{

          &:before{
            z-index: 3;
          }
        }

        // HOVER EN COVER, MOSTRAR :
        &:hover{
          // MOSTRAR DETALLES
          .image .details{
           opacity: 1;
          }
          .btn-content .btn{
            background-color: $midnight-blue;
          }
          .games-availible-ribbon .caption{
            opacity: 1;
          }
        }

        .games-availible-ribbon{
          z-index: 10;
          position: absolute;
          width: 140px;
          color: white;
          text-align: center;
          top: 5px;
          left: 13px;
          font-size: 16px;

          .title{
            // position: relative;
            background-color: $alizarin;
            height: 16px;
            width: 36px;
            font-size: 16px;

            &:before{
              content: "";
              width: 0px;
              height: 0px;
              border-style: solid;
              border-width: 15px 18px 0 18px;
              border-color: $alizarin transparent transparent transparent;
              position: absolute;
              bottom: -15px;
              left: 0;

            }
            .number{
              position: absolute;
              top: 0;
              left: 0;
              width: 36px;
              text-align: center;
              font-weight: 600;
            }
          }
        }
        .image{
          background-color: $gray;
          width: 100%;
          overflow: hidden;
          height: 166px;
          position: relative;

          &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            // background:transparent image-url('bg-cover.png') repeat-x;
            z-index: 1;
          }
          
          
          img{
            position: relative;
            width: 100%;
            min-height: 166px;
            @include box-sizing(border-box);

          }

        }


        .details{
          opacity: 0;
          font-weight: 600;
          line-height: 1;
          color: white;
          font-size: 14px;
          padding: 10px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: left;
          background-color: rgba($turquoise,0.9);
          z-index: 2;
          @include box-sizing(border-box);
          @include transition(opacity 300ms);

          small{
            font-size: 12px;
            color: $midnight-blue;
          }

          .game-title{
            position: relative;
            margin-top: 24px;
            
            .title{
              // font-weight: 400;
            }
            .caption{
              height: 85px;
              overflow: hidden;
            }
          }
          .views{
            position: absolute;
            bottom: 60px;
            right: 10px;

            .icon{
              margin-right: 3px;
            }
          }
        }
          
        .btn-content{
          text-align: center;
          position: absolute;
          bottom: 15px;
          width: 96%;
          z-index: 2;
          .btn{
            font-size: 18px;
            width: 80%;
            padding: 6px 15px;
            position: relative;
          }

        }
      }
}

// GAME BOX HORIZONTAL - VERTICAL - SMALL
.game-box-h-small, .game-box-v-small{
  font-size: 10px;
  width: 100%;
  a{
    display: block;
    &:hover{
      box-shadow: 0px 1px 1px 0px rgba(black, .2);
    }
    &:active{
      box-shadow:none;
    }
  }
  display: inline-block;
  .image{
    background-color: $gray;
    width: 81px;
    overflow: hidden;
    height: 108px;
    position: relative;
    
    
    img{
      position: relative;
      width: 100%;
      min-height: 100%;
      @include box-sizing(border-box);

    }

  }
  .details{
    width: 67%;

    .name{
      font-size: 14px;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }
    .state{
      font-size: 11px;
      font-weight: 600;
    }
    .from{
      font-size: 9px;
      font-weight: 600;
    }
    .price{
      font-size: 15px;
      font-weight: 600;
      line-height: 15px;
    }
    .available{
      .available-number{
        font-size: 13px;
      }
    }
  }
}
