.game-box{
  a{
    display: block;
    .cover{
      position: relative;
      overflow: hidden;
      height: 0;
      padding-bottom: 110%;
      width: 100%;
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: image-url('bg-cover-top.png') center top repeat-x, image-url('bg-cover-bottom.png') center bottom repeat-x;
        z-index: 1;
      }
      img{
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .available{
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 10;

        .available-text{
          color: white;
          font-size: 10px;
          text-transform: uppercase;
          display: block;
          margin-top: 9px;
          margin-right: 5px;
          font-weight: 700;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
        }
        .available-quantity{
          display: block;
          background-color: $green-sea;
          border: 3px solid $turquoise;
          width: 30px;
          height: 30px;
          line-height: 25px;
          font-size: 15px;
          color: white;
          font-weight: 700;
          @include border-radius(50%);
        }
      }
      ul.consoles{
        margin: 0;
        position: absolute;
        right: 10px;
        top: 0;
        list-style: none;
        z-index: 10;

        li{

          font-weight: 700;
          padding: 0 5px;
          text-align: center;
          background-color: rgba(white, .9);
          color: rgba(black, 0.70);
          // font-size: 13px;
          font-size: 0.9rem;
          line-height: 21px;
          display: inline-block;
          margin-left: 5px;
          @include border-radius(3px);
        }
      }
      .details-cover{
        background-color: rgba($turquoise, .93);
        color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 7;
        padding: 10px;
        font-weight: 700;
        @include opacity(0);
        @include transition(300ms);

        .title{
          line-height: 1;
          margin-top: 40px;
          display: block;
          color: white;
          font-size: 1rem;
        }

      }
    }

    .details-price{
      .price-text{
        font-size: 10px;
        text-transform: uppercase;
      }
      .price-number{
        font-weight: 700;
        font-size: 14px;
      }
    }

    &:hover{
      .details-cover{
        @include opacity(1);
      }
    }

  }
}
@media (max-width:400px) {
  .game-box {
    a {
      .cover {
        ul.consoles{
          right: 3px;
        }
        .available {
          .available-text{
            display: none;
          }
          
        } 
      }
    }
  }
}