.platform-m, .platform-s{
  color: $concrete;
  display: inline-block;
  vertical-align: middle;
  background-color: $clouds;
  padding: 1px 4px;
  text-shadow: 1px 1px 1px rgba(white, .7);
  @include border-radius(3px);
  font-weight: 500;
  font-size: 12px;
}
.platform-m{
  padding: 1px 4px;
}

.platform-s{
  padding: 0 4px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 600;
}