.navbar .container, .navbar .container-fluid{
  padding-left:14px;
  padding-right:14px;
}
.header-container{
  height: 33px;

  .navbar-form{
    // padding: 10px 0 10px 10px;
  }
}

nav{
  .logo-nooxr{
    display: block;
    float: left;
    height: 40px;
    padding: 12px 0 8px 0;

    img{
      height: 100%;
    }
  }
  .user-perfil{
    margin-right: 5px;
    .avatar{
      width: 21px;
      height: 21px;
      border-width: 0;
      margin: 0;
    }
  }
  .navbar-nav {
    // Caret
    .dropdown{
      .caret{
        margin-left: 2px;
      }
    }
    // Links
    > li {
      > a{
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
  // Btn
  .navbar-btn{
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
  }
}
@media (max-width: 767px){
  .navbar-inverse .navbar-form {
    border-bottom: 1px solid #2f4154;
    border-top: 0;
  }
  .search-content.pull-right{
    float: none !important;
  }
}

@media (min-width: 768px){
  .header-container{
    .navbar-form{
      padding: 10px 0 10px 10px;
    }
  }
}