.notice{
  padding: 10px 12px;
  color: #fff;
  border-top: 1px solid #3498DB;
  border-bottom: 1px solid #ccc;
  background: #2980B9 image-url("alerts-line.png") top left repeat-x;


  h6{
    font-size: 1.1rem;
    font-weight: normal;
    margin:0;
    a{
      color: white;
      text-decoration: underline;
    }
  }

  &.info{
    border-top-color: $peter-river;
    background-color: $belize-hole;
  }
  &.success{
    border-top-color: $emerald;
    background-color: $nephritis;
  }
  &.danger{
    border-top-color: $alizarin;
    background-color: $pomegranate;
  }
  &.warning{
    border-top-color: $sun-flower;
    background-color: $orange;
  }
}