.pagination li, .pagination li:hover, .pagination.active li{
  margin:0;
  border: 0;
}
.pagination li>a, .pagination li>span{
  border:0;
  margin-left: 1px;
}
.pagination li a{
  color: $silver;
  font-weight: bold;
  cursor:pointer;
  background-color: $clouds;
}
// Disabled
.pagination li.disabled>a, .pagination li.disabled>a:hover{
  color: rgba($silver, .3);
  background-color: rgba($clouds, .7);
}
// Disabled:hover
// .pagination li.disabled>a:hover, .pagination li.disabled>span:hover, .pagination li.disabled>a:focus, .pagination li.disabled>span:focus, .pagination li.disabled>a:active, .pagination li.disabled>span:active{
//   background-color: $silver;
// }

// Active: hover
.pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
  background-color: $turquoise;
  border-left:none;
}