.pretty-header{
  margin-top: -20px;
  color: white;
  background-color: $turquoise;
  text-align: center;
  padding: 10px 0 5px 0;
  box-shadow: inset 0 1px 0 #1dcca9;
  

  h1{
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
    font-weight: normal;
  }
  span{
    font-size: 14px;
    color: rgba(white, .6);
  }
}

@media (max-width: 480px) {
  .pretty-header{

    h1{
      font-size: 18px;
    }
    span{
      font-size: 12px;
    }
  }
}