
.select2-container{
    width: 100%;
    
    &.select{
      min-width: 10px;
    }

    &.select-default{
      .select2-arrow{
        border-top-color: $silver;
      }
      .select2-choice{
        background-color: transparent;
        border: 2px solid $silver;
        color: $wet-asphalt;
        @include border-radius(6px);
      }
    }
}
.select2-drop {
    z-index: 9999;

    .select2-search{
        display: block;
        &.no-search{
            display: none;
        }
    }
}

.no-search .select2-search {
  display:none
}
