<div class="col-md-12 mbl clearfix">
  <ul class="account-tabs-nav pbm clearfix">
     <li ng-class="{'active':activeTab == 'account'}" class="pull-left"><a href="#/account">Cuenta</a></li>
      <li ng-class="{'active':primaryTab == 'sales'}" class="dropdown pull-left">
        <a nx-dropdown class="dropdown-toggle" data-toggle="dropdown" href="#"> Anuncios <span class="caret"></span></a>
        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu">
          <li ng-class="{'active':activeTab == 'sales/active'}"><a href="#/sales/active">Activos</a></li>
          <li ng-class="{'active':activeTab == 'sales/finished'}"> <a href="#/sales/finished">Finalizados</a></li>
        </ul>
     </li>
     <li ng-class="{'active':activeTab == 'purchase'}" class="pull-left"><a href="#/purchase">Compras</a></li>
     <li ng-class="{'active':activeTab == 'wishlist'}" class="pull-left"><a href="#/wishlist">Lista de Deseos</a></li>
  </ul>
</div>