<div class="game-box-h-small ">
  <a href="#/product/{{game.id}}" class="cover box-shadow-pretty clearfix" title="{{game.title}}">
    <div class="image pull-left"> <img ng-src="{{game.thumbnail}}" alt="{{game.title}}"></div>
    <div class="details pull-left mlm">
      <div class="name color-wet-asphalt">{{game.title}}</div>
      <div class="platforms"><span class="platform-s mrs" ng-repeat="platform in game.ads_data.consoles">{{platform.name}}</span></div>
      <div class="from color-concrete text-uppercase mts" ng-if="game.ads_data.quantity > 0">Desde</div>
      <div class="price color-alizarin" ng-if="game.ads_data.quantity > 0">{{game.ads_data.lower_price | currency:"₡"}}</div>
      <div class="available text-uppercase mtm color-concrete"><strong class="available-number color-wet-asphalt">{{game.ads_data.quantity}}</strong> Juegos Disponible<span ng-if="game.ads_data.quantity>1">s</span></div>
    </div>
  </a>
</div>