<a href="#/product/{{game.id}}" class="box-shadow-pretty">
  <div class="cover bg-clouds">
    <img ng-src="{{game.thumbnail}}">
    <ul class="consoles">
      <li ng-repeat="console in game.ads_data.consoles" class="bg-clouds">{{console.name}}</li>
    </ul>
    <div class="available">
      <span class="available-quantity text-center pull-right">{{game.ads_data.quantity}}</span>
      <span class="available-text pull-right">Juegos Disponibles</span>
    </div>
    <div class="details-cover">
      <span class="title">{{game.title}}</span>
    </div>
  </div>
  <div class="details-price text-right">
    <span class="price-text color-concrete">Desde</span> <span class="price-number color-alizarin">{{game.ads_data.lower_price | currency:"₡"}}</span>
  </div>
</a>