<div class="game-box col-sm-3 col-xs-6 mbl">
  <a href="#/ad/{{game.id}}" class="box-shadow-pretty">
    <div class="cover bg-clouds">
      <img ng-src="{{game.game.thumbnail}}">
      <ul class="consoles">
        <li class="bg-clouds mts">{{game.console.name}}</li>
      </ul>
      <div class="details-cover">
        <span class="title">{{game.game.name}}</span>
      </div>
    </div>
    <div class="details-price text-right mts">
      <span class="price-number color-alizarin">{{game.price | currency:"₡"}}</span>
    </div>
  </a>
</div>