<div class="star-rating" ng-if="activeRating=='off'">
  <i class="fa fa-star star" ng-class="{'active':state >= 20}"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 40}"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 60}"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 80}"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 100}"></i>
</div>
<div class="star-rating" ng-if="activeRating=='on'">
  <i class="fa fa-star star" ng-class="{'active':state >= 20, 'hover': stateTemporaly >= 20}" ng-click="changeState(20)" ng-mouseover="stateTemporaly=20"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 40, 'hover': stateTemporaly >= 40}" ng-click="changeState(40)" ng-mouseover="stateTemporaly=40"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 60, 'hover': stateTemporaly >= 60}" ng-click="changeState(60)" ng-mouseover="stateTemporaly=60"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 80, 'hover': stateTemporaly >= 80}" ng-click="changeState(80)" ng-mouseover="stateTemporaly=80"></i>
  <i class="fa fa-star star" ng-class="{'active':state >= 100, 'hover': stateTemporaly >= 100}" ng-click="changeState(100)" ng-mouseover="stateTemporaly=100"></i>
</div>