.account-screen {
  
  label{
    line-height: 15px;
  }
  .user-perfil{
    width: 160px;
    margin: auto;
    .avatar{
      width: 110px;
      height: 110px;

      img{
      }
    }
  }

  .change-imagen {
    text-align: center;
    a {
      font-size: 12px;
    }
  }

  .right-column {
    // border-left: 1px solid #ecf0f1;
  }

  .help-block {
    font-size: 12px;
  }

  .upload-picture{
    position: relative;
    margin-bottom: 10px;

    input[type=file]{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity:0;
      cursor: pointer;
    }

    button.progress-button{
      position: relative;
      z-index: 1;
      width: 100%;
      line-height: 1;
      letter-spacing: inherit;

      .progress-wrap{

        .progress{
          background-color: $turquoise;
          @include border-radius(0);

          .progress-inner{
          }
        }

      }
      .content{
        padding: 10px;
        font-size: 12px;
        background-color: $turquoise;
      }
      .progress-inner{
        background-color: darken($turquoise, 5%);
      }
    }
  }
}

.big-search-result {
  img {
    margin-right: 15px;
    width: 40px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .account-screen {
    .form-field{
      padding: 0;
    }
  }
}