.add-ad-screen {
  .nooxr-big-search {
    
    .select2-container .select2-choice .select2-arrow {
      top: 15px;
    }
    .select2-container .select2-choice > .select2-chosen {
      margin-top: 10px;
    }
    .big-search-result {
      // margin-top: -8px;
      img {
        float: left;
        height: 45px;
      }
      span {
        float: left;
        padding-top: 10px;
        display: block;
      }
    }



  }
  .form-field {
    margin-bottom:20px;
  }
  .tag-blue {
      color: #ffffff;
      background-color: #5bc0de;

      &:hover {
        background-color: #39b3d7;
border-color: #269abc;
      }
    }
    p.small {
      font-size: 11px;
      line-height:11px;
      margin-bottom: 5px;
      &.margin-top {
        margin-top: 7px;
      }
    }
  .btn {
    margin-top: 40px;
    width: 100%;
  }
  .game-tag-info {
    margin-bottom: 10px;
    p {
      position:relative;
      &:before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        left: -13px;
        top: 0px;
        border-radius: 50%;
      }
      &.green:before {
        background-color: #1abc9c;
      }
      &.blue:before {
        background-color:  #39b3d7;
      }
    }
  }
  
}