.home-screen {

  .main-cover{
    margin-top: -21px;
    margin-bottom: 20px;
    
    .cover{
      height: 400px;
      position: relative;
      
      .bg-image{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: image-url("bg-polygon.png") center top no-repeat;
        }

        img{
          width: 100%;
          min-height: 130%;
          top: -30%;
          position: absolute;
        }
      }
      .main-title{
        position: relative;
        z-index: 5;
        margin-top: 95px;
        h6{
          margin: 0;
          color: white;
          font-size: 30px;
          font-weight: bold;
          text-shadow: 2px 2px 2px rgba(black, .4);
        }
        .btn{
          width: auto;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 10px 40px;
        }
      }
    }

    .main-explanation{
      .explanation-icons{
        border-top: 1px solid #1dcca9;
        .img-ad{
          img{
            height: 60px;
            margin-top: 10px;
          }
        }
        .img-deal{
          img{
            height: 70px;
          }
        }
        .img-buy{
          img{
            height: 65px;
          }
        }
        .img-exchange{
          img{
            margin-top: 10px;
            height: 56px;
          }
        }
      }
      .explanation-caption{
        border-top: 1px solid #16967d;
        h5{
          margin: 0;
          color: white;
          text-transform: uppercase;
        }
        .caption{
          font-size: 12px;
          color: white;
          font-weight: bold;
          line-height: 1.3;
          @include opacity(.6);
        }
      }
    }
  }



  .main-cover-mobile{
    margin-top: -21px;
    margin-bottom: 20px;
    
    .cover{
      position: relative;
      overflow: hidden;
      
      .bg-image{
        width: 140%;
        height: 140%;
        position: absolute;
        overflow: hidden;
        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: image-url("bg-polygon.png") center top no-repeat;
        }

        img{
          width: 100%;
          min-height: 100%;
          top: -30%;
          position: absolute;
        }
      }
      .main-title{
        position: relative;
        z-index: 5;
        margin-top: 95px;
        h6{
          margin: 0;
          color: white;
          font-size: 30px;
          font-weight: bold;
          text-shadow: 2px 2px 2px rgba(black, .4);
        }
        .btn{
          width: auto;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 10px 40px;
        }
      }
    }

    .main-explanation{
      .explanation-icons{
        border-top: 1px solid #1dcca9;
        .img-ad{
          img{
            height: 60px;
            margin-top: 10px;
          }
        }
        .img-deal{
          img{
            height: 70px;
          }
        }
        .img-buy{
          img{
            height: 65px;
          }
        }
        .img-exchange{
          img{
            margin-top: 10px;
            height: 56px;
          }
        }
      }
      .explanation-caption{
        border-top: 1px solid #16967d;
        h5{
          font-size: 16px;
          margin: 0;
          color: white;
          text-transform: uppercase;
        }
        .caption{
          font-size: 12px;
          color: white;
          font-weight: bold;
          line-height: 1.3;
          @include opacity(.6);
        }
      }
    }
  }
  
  .consoles{
    margin-bottom: 15px;
    small{
      text-transform: uppercase;
      font-size: 12px;
      line-height: 35px;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 532px) {

  .game-box{
    width: 50%;
  }

}