.nooxr-login-screen {

  .col-left, .col-right{
    // padding: 80px;
  }
  .col-left{
    box-shadow: inset -1px 0 0 $clouds;
  }
  .btn-login{
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .nooxr-login-screen {

    .col-left, .col-right{
      width: 100%;
      padding: 0 15px;
    }
    .btn-facebook{
      margin-top: 20px;
    }
    .help-block-lg{
      font-size: 11px;
    }
    .help-block-last{
      margin-top: 20px;
    }
  }
}
@media (min-width: 992px) {
  .nooxr-login-screen {

    .col-left, .col-right{
      padding: 80px;
    }
  }
}