.offer-screen{

  .subtitle{
    font-size: 12px;
    font-weight: 600;
  }
  .buy-and-pay {
    
    font-size: 14px;
    width: 205px;
    text-align: justify;
    margin-bottom: 20px;

  }

  .offer-header{
    font-size: 12px;
    border-bottom: 1px solid rgba($asbestos, .2);
    color: $wet-asphalt;

    a{
      color: $wet-asphalt;
      &:hover{
        color: $turquoise;
      }
    }

    .user-perfil{
      .avatar{
        border-width: 1px;
        width: 40px;
        height: 40px;
      }
    }
    .report{
      color: rgba($alizarin, .7);
      &:hover{
        color: $alizarin;
      }
    }
  }

  .offer-details{
    .col-left{
      width: 185px;
      .price{
        font-size: 18px;
        font-weight: 600;
      }
      .btn{
        width: 100%;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .game-cover{
      width: 185px;
      height: 255px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .offer-info{
      font-size: 12px;
      h1{
        font-size: 18px;
        margin: 0;
      }
      .text-helper{
        font-size: 10px;
        font-weight: 600;
      }
      table{
        width: 100%;
      }
    }
  }

  .form-deal{
    position: relative;
    margin-top: 15px;
    
    .message{
      display: inline-block;
      margin-right: 30px;
      color: $concrete;
      font-size: 11px;
      margin-top: 10px;
    }
    
    textarea{

    }
  }

  .login-to-post {
    margin: 20px 0 0 0;
    padding: 20px;
    a {
      font-style: italic;
    }
    font-size: 17px;
    background-color: #F0F1F1;
    border-radius: 4px;
    border: 1px #E9E9E9 solid;
  }


  .game-cont{
    //text-align: center;

    .btn{
      font-size: 18px;
      font-weight: 600;
      min-width: 210px;
      margin-bottom: 15px;
    }

    .game-cover{
      //margin: auto;
      width: 205px;
      overflow: hidden;
      height: 248px;
      position: relative;
      padding: 0;
      border: 5px solid white;
      img{
        position: relative;
        width: 100%;
        min-height: 248px;
        @include box-sizing(border-box);
      }
    }
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 639px) {
  .offer-screen{

    .offer-details{
      
      .col-left{
        width: 100%;
        float: none!important;
        margin: auto;
      }

      .game-cover{
        width: 155px;
        height: 205px;
        margin: auto;
      }

      .offer-info{
        margin-top: 25px;
      }
    }
    
    .login-to-post{
      font-size: 13px;
    }
    .col-similar-consoles{
      margin-top: 35px;
      border-top: 1px solid $clouds;

      .subtitle{
        margin-top: 20px;
      }
    }
    .form-deal{
      .btn{
        font-size: 15px;
        margin-top: 10px;
        
      }
    }
  }

}