.page-payment-complete, .page-order-detail{
  min-height: 0;
  
  &:before{
    content:  image-url('stamp.png');
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  &.not-stamp{
    &:before{
      content: '';
    }
  }
  

  
  .order-summary{
    background-color: #f6f8f8;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 8px;


    small{
      font-size: 11px;
      color: rgba(52, 73, 94, 0.31);
    }
  }

  .payment-title{
    margin-bottom: 30px;
    .check{
      font-size: 40px;
    }
    h5{
      margin: 0 0 0 10px;
      font-weight: 400;
    }
  }

  table{
    font-size: 13px;
    >tr>td{
      border:0;
    }

    td.sub-cost{
      border-top: 1px dashed rgba(0, 0, 0, 0.09);
    }
    .no-border{
      border-top: none;
    }

    tr.total{
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwATGjGhixkD+WWRBsABIEUwQLgATRBEACQIAr8MEOZtA/yIAAAAASUVORK5CYII=");
      background-position: left top;
      background-repeat: repeat-x;
      td{
        padding-top: 20px;
        border:0;
        .text-total{
          margin-right: 10px;
          // color: rgba(0, 0, 0, 0.46);
          margin-top: -10px;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }
  .method-payment{
    margin-bottom: 10px;
  }
  .date-payment{

  }

  .payment-fail{
    .payment-fail-reason{
      padding: 10px;
    }
  }
}
.print-cont{
  margin: 20px auto;
}

@media print{
  .page-payment-complete, .page-order-detail{
    table{
      tr.total{
        td{
          border-top: 1px solid #ddd;
        }
      }
    }
  }
}