.payment-screen{
  h4{
    margin: 0;
  }
  .select .btn{
    width: 100%;
  }
  .table{
    margin: 20px 0;
    float: left;
    th, td{
      border-top: none;
      width: 50%;
    }

    small{
      font-size: 13px;
    }
  }
  .game-cover{
    img{
      width: 100%;
      height: 100%;
    }
  }
  .address-cont{
    margin-top: 30px;
  }
  .total{
    font-weight: bold;
  }

  .btn-payment-cont {
    width: 240px;
    margin: 0 auto;
    margin-top: 10px;
    .btn-payment{
      // font-size: 18px;
      font-weight: bold;
      width: 240px;
    }
  }

  .payment-note {
    clear: both;
    text-align: center;
    font-size: 11px;
    padding-top: 20px;
  }
  .delivery-note {
    text-align: center;
    font-size: 11px;
    color:red;
  }
}