.product-screen{

  p{
    font-size: 13px;
  }
  .subtitle{
      font-size: 12px;
      font-weight: 600;
    }
  
  .container{
    margin-top: -20px;
  }

  .main-cover{
    color: white;
    position: relative;
    padding-bottom: 0;
    .image{
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      left:0;
      top: 0;
      @include opacity(.6);

      &:before{
        width: 100%;
        height: 100%;
        z-index: 2;
        content: "";
        position: absolute;
        // background-image: image-url('bg-pattern-cover-2.png');
        // background-color: rgba($midnight-blue, .5);
      }
      
      img{
        position: relative;
        top: -140px;
        left: -1%;
        width: 150%;
        -moz-filter: blur(3px); 
        -o-filter: blur(3px); 
        -ms-filter: blur(3px); 
        filter: blur(3px);
        opacity: 0.6;
      }
    }
    .title{
      font-weight: 200;
      margin: 0;
      font-size: 2rem;
      letter-spacing: -0.6px;
    }

    .game-box-single{
      width: 143px;
      height: 175px;
      position: relative;
      box-shadow: 1px 1px 2px rgba(black, 0.3);
      overflow: hidden;

      img{
        position: absolute;
        width: 100%;
        min-height: 100%;
        position: relative;
      }
    }

    .game-details{
      width: 100%;
      text-shadow: 1px 1px 0 rgba(black, .5);

      .caption{
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .sub-caption{
        font-size: 10px;
        display: block;
        line-height: 1;
        text-transform: uppercase;
      }
      .platform{
        padding: 3px;
        background-color: rgba(white, .2);
        border-radius: 3px;
        text-shadow: none;
      }
      .caption-publisher{
        // width: 147px;
      }
      .ranking-caption{
        vertical-align: bottom;
      }
      .ranking{
        font-size: 20px;
        line-height: 24px;
        vertical-align: bottom;
      }
      .divider{
        border-bottom: 1px solid rgba(white, .1);
      }

      &.mockup{
        font-family: "BLOKKRegular";
        opacity: .3;
        text-shadow: none;
        word-spacing: -10px;
      }
    }
    .ad-wishlist{
      clear: both;
      a{
        color: white;
        font-size: 10px;
        font-weight: 600;

        .icon{
          background-color: rgba($asbestos, .7);
          padding: 6px 0;
          display: inline-block;
          width: 29px;
          height: 26px;
          text-align: center;
          @include border-radius(3px);

          i{
            font-size: 16px;
            opacity: .5;
          }
        }
        .text{
          text-shadow: 1px 1px 0 rgba(black, .5);
        }
        
        // .ad-wishlist a:hover
        &:hover{
          .icon{
            background-color: rgba($asbestos, .9);
            i{
              opacity:1;
            }
          }
        }

        &.active{
          .icon{
            background-color: $alizarin;
            i{
              opacity:1;
            }
          }
        }
      }
    }

    .available{
      clear: both;

      .available-text{
        font-size: 10px;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 9px;
        margin-right: 5px;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
      }
      .available-quantity{
        display: inline-block;
        background-color: $green-sea;
        border: 3px solid $turquoise;
        width: 30px;
        height: 30px;
        line-height: 25px;
        font-size: 15px;
        color: white;
        font-weight: 700;
        @include border-radius(50%);
      }
    }

    .tabs{
      clear: both;
      z-index: 10;
      position: relative;
      font-size: 11px;
      margin: 0;
      list-style: none;
      font-weight: 600;
      padding: 0;

      li{
        display: inline-block;
        a{
          color: white;
          text-transform: uppercase;
          padding: 0 10px 5px 10px;
          border-bottom: 4px solid transparent;
          display: block;

          &.active{
            border-bottom-color: $turquoise;
          }
        }
      }
    }

    
  }
  .product-description{

    .description{
      font-size: 14px;
    }
  }

  h1.title-sellers{
    text-transform: uppercase;
    font-size: 18px;
    span{
      font-weight: 500;
    }
  }
  .table-container {
    padding: 5px;
    background-color: white;
    
    // Tabla de ofertas
    .table-sellers{
      margin-bottom: 0;
      @include box-sizing(border-box);
      font-size: 14px;
      th{
        color: rgba($midnight-blue, .8);
        font-size: 12px;
        text-transform: uppercase;
        border-bottom: 1px solid $silver;
      }
      tbody{
        tr:not(:last-child){
          td{
            border-top: 0;
            border-bottom: 1px solid $clouds;
            vertical-align: middle;
          }
        }
        tr{
          td{
            color: $asbestos;
            font-size: 13px;
          }
        }
      }
      .seller-price{
        a.btn {
          font-weight: 600;
          padding: 5px 8px;
          font-size: 13px;
        }
      }
      .seller-city{
        width: 17%;
      }
      .seller-consoles{
      }
      .seller-allow-payments{
        // text-align: center;
      }
    }
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
  .product-screen {

    .content-main-cover{
      padding: 0;
    }
    .main-cover {
      .title{
        font-size: 1.6rem;
      }
      .tabs {
        li{
          width: 49%;
          a{
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
    }
    .content-game-details{
      width: 100%;
      padding:0;
      .game-details{
        margin-left: 0;
      }
    }
    .tab-content{
      padding-right: 15px; 
      padding-left: 15px; 
    }
  }
}