.profile-screen{

  .wishlist-row {
    vertical-align: middle;
    font-size: 16px;
  }

  .profile-cont{
    margin-top: 12px;

    .user-perfil{
      
      .avatar{
        width: 110px;
        height: 110px;
      }

      .record{
        .progress{
          height: 4px;
          margin-bottom: 5px;
        }
      }

      .username{
        display: block;
        text-align: center;
        font:{
          weight: 600;
          size: 11px;
        }
      }
      .city{
        font-size: 14px
      }

    }

  }
  .tabs-pretty{

    .tab-content{
      font-size: 14px;
      .tab-pane{
        padding: 0 30px;
        
        table{
          font-size: 14px;
          thead{

            tr{

              th{
                border-bottom: 0;

                &:first-child{
                  width: 110px;
                }
              }
            }

          }
          tr{
            td{
              border-top: 1px solid $clouds;
            }
          }
        }
        .star-status{
          width: 18%;
        }

        .date{
          font-size: 10px;
        }
      }
    }

  }
}