.purchase-screen{
  // padding:30px !important;
  .tab-content{
    overflow: hidden;
    table{
      
      tbody{
        tr{
          td{
            vertical-align: top;
            padding: 10px;
            border-bottom: 1px solid $clouds;
            
            &.game-image{

              img{
                width: 70px;
              }
            }

            &.game-details{
                width: 76%;
              .game-title{

              }

              .minor-details{
                font-size: 12px;
                color: $concrete;

                .game-id{
                  margin-right: 20px;
                }
                .game-views{
                  margin-right: 20px;
                }

                .link-invoice{
                  font-size: 90%;
                }

                .game-date{

                }

                
              }
            }

            &.game-config{
              width: 20%;

              button{
                padding: 7px 15px;
              }

              .user-rating{
                font-size: 14px;
              }
            }

          }
        }
      }

    }

  }

}