.nooxr-register-screen {

  .col-left, .col-right{
    // padding: 80px;
  }
  .col-left{
    box-shadow: inset -1px 0 0 $clouds;
  }
  .help-block-small{
    font-size: 11px;
  }

  .btn-register{
    width: 100%;
    font-size: 18px;
  }

  .todo-cont{
    h6{
      font-size: 18px;
    }
    .todo-list{
      padding: 0;
      list-style: none;
      li{
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 480px) {
  .nooxr-register-screen {

    .col-left, .col-right{
      width: 100%;
      padding: 0 15px;
    }
    .btn-facebook{
      margin-top: 20px;
    }
    .help-block-lg{
      font-size: 11px;
    }
    .help-block-last{
      margin-top: 20px;
    }
  }
}
@media (min-width: 992px) {
  .nooxr-register-screen {

    .col-left, .col-right{
      padding: 80px;
    }
  }
}