.sales-active-screen{
  .game-cover{
      width: 105px;
      height: 135px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .game-config-alt{
    display: none;
  }
  .tab-content{
    overflow: hidden;
    padding: 5px;
    
    .slider-cont{
      position: relative;
      width: 200%;
      @include transition(all 300ms linear);
      left: 0;

      &.open{
        left: -100%;
      }
      .table-offers{
        vertical-align: top;
        display: inline-block;
        width: 50%;
        position: relative;

        .offer{
          border-bottom: 1px solid $clouds;
          padding: 10px;
          font-size: 1.1rem;

          .minor-details{
            font-size: 12px;
            color: $concrete;

            .game-id{
              margin-right: 20px;
            }
            .game-views{
              margin-right: 20px;
            }

            .game-date{
              display: block;
            }
          }

          .pending{
            padding: 5px 10px;
            font-size: 11px;
            display: inline-block;
            margin-top: 10px;
          }

        }
      }
      .deals-content{
        padding: 15px;
        vertical-align: top;
        width: 49%;
        display: inline-block;

        .pager{
          display: inline-block;
          overflow: hidden;
          margin-top:0;
          vertical-align: top;
          float: right;
        }
        h6{
          margin-top:0;
          display: inline-block;
          vertical-align: top;
        }

        .comments-deals{
          .comment-container{
            .comment-cont{
              background-color: #f2f3f3;
            }
          }
        }
      }
    }


  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
  .sales-active-screen{
    .btn-sm{
      padding: 5px 10px;
    }
    .col-right{
      padding: 0;
      margin-top: 15px;
    }
    .col-left,.col-right{
      width: 100%;
    }
    .game-config{
      display: none;
    }
    .game-config-alt{
      display: block;
    }
  }
}
@media only screen and (max-width : 620px) {
  .sales-active-screen{
    .col-left,.col-right{
      width: 100%;
    }
  }
}