.sales-finished-screen{

  .game-cover{
    width: 105px;
    height: 135px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .game-config-alt{
    display: none;
  }
  .table-offers{
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 100%;

    .offer{
      border-bottom: 1px solid $clouds;
      padding: 10px 0;
      font-size: 1.1rem;

      .minor-details{
        font-size: 12px;
        color: $concrete;

        .game-id{
          margin-right: 20px;
        }
        .game-views{
          margin-right: 20px;
        }

        .game-date{
          display: block;
        }
      }
    }
  }  
  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
  .sales-finished-screen{
    .btn-sm{
      padding: 5px 10px;
    }
    .col-right{
      margin-top: 15px;
    }
  }
}