.tradein-screen{
  margin-top: 30px;
  clear: both;
  .search-barcode{
    form{
      margin: auto;
      float: none;
      padding-top: 15px;
      padding-bottom: 15px;
      input{
        margin-bottom: 10px;
      }
      .btn{
        margin: auto;
        float:none;
      }
    }
  }

  .game-datails{
    margin: auto;
    float: none;

    .game-cover{
      text-align: center;
      img{
        width: 100%;
        height: 100%;
      }
    }

    .game-status{
      margin-top: 15px;
    }
    .quantity-text{
      font-size: 11px;
      font-weight: bold;
      line-height: 1;
      padding-top: 10px;
      text-transform: uppercase;
    }
    .price{
      font-size: 25px;
      font-weight: bold;
    }
    .btn{
      width: 100%;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }

    .attention{
      font-size: 12px;
      text-align: center;
      float: none;
      margin: 20px auto;
      clear: both;
      padding: 20px 0;
    }
  }

  .game-code{
    h4.code-number{
      background-color: rgba($turquoise, .2);
      padding: 5px 0;
      width: 300px;
      margin: 0 auto 20px auto;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
    }
    .caption{
      font-size: 13px;
    }
    .btn{
      margin: 20px 0;
      font-weight: bold;
    }
  }
}