.page-transactions{
  .normal-page{
    padding: 0;
  }
  .your-credits{
    background-color: $clouds;
    padding: 2px 20px;
    small{
      font-size: 0.7rem;
      text-transform: uppercase;
    }
    .price{

    }
  }
  table {
    &.table-transactions{
      thead{
        tr{
          th{
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .date {
    font-size: 12px;
  }
  .transaction {
    font-size: 1rem;
  }
  .transactions-table {
    clear:both;
  }
}