.wishlist-screen {

  // .tab-content {

    .nooxr-big-search {
      .big-search-result {
        img {
          float: left;
          height: 45px;
        }
        span {
          float: left;
          padding-top: 10px;
          display: block;
        }
      }
    }
    p.small {
      font-size: 11px;
      line-height:11px;
      margin-bottom: 5px;
      &.margin-top {
        margin-top: 7px;
      }
    }
    table.wishlist {
      img {
        width: 40px;
      }
    }
  // }

}