// Color swatches
$turquoise:                 #1abc9c;
$green-sea:                 #16a085;

$emerald:                   #2ecc71;
$nephritis:                 #27ae60;

$peter-river:               #3498db;
$belize-hole:               #2980b9;

$amethyst:                  #9b59b6;
$wisteria:                  #8e44ad;

$wet-asphalt:               #34495e;
$midnight-blue:             #2c3e50;

$sun-flower:                #f1c40f;
$orange:                    #f39c12;

$carrot:                    #e67e22;
$pumpkin:                   #d35400;

$alizarin:                  #e74c3c;
$pomegranate:               #c0392b;

$clouds:                    #ecf0f1;
$silver:                    #bdc3c7;

$concrete:                  #95a5a6;
$asbestos:                  #7f8c8d;

// Grays
$gray:                      $concrete;
$gray-light:                $silver;
$inverse:                   white;


.color-turquoise{
  color: $turquoise;
}
.color-green-sea{
  color: $green-sea;
}
.color-emerald{
  color: $emerald;
}
.color-nephritis{
  color: $nephritis;
}
.color-peter-river{
  color: $peter-river;
}
.color-belize-hole{
  color: $belize-hole;
}
.color-amethyst{
  color: $amethyst;
}
.color-wisteria{
  color: $wisteria;
}
.color-wet-asphalt{
  color: $wet-asphalt;
}
.color-midnight-blue{
  color: $midnight-blue;
}
.color-sun-flower{
  color: $sun-flower;
}
.color-orange{
  color: $orange;
}
.color-carrot{
  color: $carrot;
}
.color-pumpkin{
  color: $pumpkin;
}
.color-alizarin{
  color: $alizarin;
}
.color-pomegranate{
  color: $pomegranate;
}
.color-clouds{
  color: $clouds;
}
.color-silver{
  color: $silver;
}
.color-concrete{
  color: $concrete;
}
.color-asbestos{
  color: $asbestos;
}
.color-gray{
  color: $gray;
}
.color-gray-light{
  color: $gray-light;
}
.color-inverse{
  color: $inverse;
}
// 





.bg-turquoise{
  background-color: $turquoise;
}
.bg-green-sea{
  background-color: $green-sea;
}
.bg-emerald{
  background-color: $emerald;
}
.bg-nephritis{
  background-color: $nephritis;
}
.bg-peter-river{
  background-color: $peter-river;
}
.bg-belize-hole{
  background-color: $belize-hole;
}
.bg-amethyst{
  background-color: $amethyst;
}
.bg-wisteria{
  background-color: $wisteria;
}
.bg-wet-asphalt{
  background-color: $wet-asphalt;
}
.bg-midnight-blue{
  background-color: $midnight-blue;
}
.bg-sun-flower{
  background-color: $sun-flower;
}
.bg-orange{
  background-color: $orange;
}
.bg-carrot{
  background-color: $carrot;
}
.bg-pumpkin{
  background-color: $pumpkin;
}
.bg-alizarin{
  background-color: $alizarin;
}
.bg-pomegranate{
  background-color: $pomegranate;
}
.bg-clouds{
  background-color: $clouds;
}
.bg-silver{
  background-color: $silver;
}
.bg-concrete{
  background-color: $concrete;
}
.bg-asbestos{
  background-color: $asbestos;
}
.bg-gray{
  background-color: $gray;
}
.bg-gray-light{
  background-color: $gray-light;
}
.bg-inverse{
  background-color: $inverse;
}