@font-face {
    font-family: 'BLOKKRegular';
    src: url('/fonts/blokk/BLOKKRegular.eot');
    src: url('/fonts/blokk/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/blokk/BLOKKRegular.woff') format('woff'),
         url('/fonts/blokk/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'consoles';
  src:url('/fonts/consoles/consoles.eot?lkho9p');
  src:url('/fonts/consoles/consoles.eot?#iefixlkho9p') format('embedded-opentype'),
    url('/fonts/consoles/consoles.woff?lkho9p') format('woff'),
    url('/fonts/consoles/consoles.ttf?lkho9p') format('truetype'),
    url('/fonts/consoles/consoles.svg?lkho9p#consoles') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'consoles';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;

  &:before{
    // font-size: 27px;
  }

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ps:before {
  content: "\e600";
  font-size: 27px;
}
.icon-pc:before {
  content: "\e601";
  font-size: 27px;
}
.icon-xbox:before {
  content: "\e602";
  font-size: 27px;
}
.icon-wii:before {
  content: "\e603";
  font-size: 27px;
}
.icon-wiiu:before {
  content: "\e604";
  font-size: 27px;
}
.icon-ps3:before {
  content: "\e605";
  font-size: 27px;
}
.icon-ps4:before {
  content: "\e606";
  font-size: 27px;
}
