<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nooxr</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- build:css styles/vendor.css -->
  <link rel="stylesheet" href="bower_components/flat-ui/dist/css/flat-ui.min.css">
  <link rel="stylesheet" href="bower_components/ProgressButtonStyles/css/component.css">
  <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="bower_components/ion.rangeSlider/css/ion.rangeSlider.css">
  <link rel="stylesheet" href="bower_components/ion.rangeSlider/css/ion.rangeSlider.skinNice.css">
  <!-- bower:css -->
  <!-- endbower -->

  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body ng-app="nooxrApp">
  <!--[if lt IE 8]>
    <p class="browsehappy">Estás usando un navegador <strong>desactualizado</strong>.<a href="http://browsehappy.com/">Haz click aquí para actualizar tu navegador </a> y mejorar la experiencia de navegación.</p>
    <![endif]-->
    <div class="loader-bar" style="width:{{loadBarWidth}}%;" ng-show="loadBarWidth > 0"></div>


    <!-- header -->

    <div class="header-container">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <a href="#/" class="logo-nooxr"><img src="images/nooxr.png" alt=""></a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapse-01">
            <!-- search -->
            <div class="search-content navbar-right hidden-sm">
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input ui-keypress="{enter: search}" class="form-control palette-wet-asphalt" type="search" ng-model="searchInput" placeholder="Buscar juegos">
                    <span class="input-group-btn">
                      <button ng-click="search()" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
            <!-- search -->
            <ul class="nav navbar-nav navbar-left ng-cloak">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Categorías <b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li ng-repeat="category in menuCategories" ng-class="{'opt active' : category.id==urlParams.category_id}"><a href="#/games/category/{{category.id}}" class="link">{{category.name}}</a></li>
                </ul>
              </li>
              <li ng-if="!activeUser.user_id" ><a  class="color-midnight-blue link" ng-click="logIn()" href="">Ingresar</a></li>
              <li ng-if="!activeUser.user_id" ><a  class="color-midnight-blue link" href="#/register">Registrarse</a></li>
              <li class="dropdown" ng-if="activeUser.user_id">
                <a nx-dropdown class="color-midnight-blue dropdown-toggle" data-toggle="dropdown" href="">
                  <span class="user-perfil"><img ng-src="{{activeUser.picture}}" class="avatar"></span>{{activeUser.username}} <span class="caret"></span>
                </a>
                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                <ul class="dropdown-menu">
                  <li><a class="link" href="#/profile/{{activeUser.user_id}}">Perfil público</a></li>
                  <li><a class="link" href="#/account">Cuenta</a></li>
                  <li><a class="link" href="#/sales/active">Mis Anuncios</a></li>
                  <li><a class="link" href="#/purchase">Mis Compras</a></li>
                  <li><a class="link" href="#/wishlist">Lista de Deseos</a></li>
                  <li><a class="link" href="#/transactions">Transacciones</a></li>
                  <li><a class="link" href="#/tradeins">Mis Canjes</a></li>
                  <li class="divider"></li>
                  <li ng-if="activeUser.user_id" ><a class="link" ng-click="logOut()" href="">Salir</a></li>
                </ul>
              </li>
              <li ng-if="activeUser.user_id"><a class="color-midnight-blue" href="#/notifications"><span class="navbar-new" ng-if="activeUser.notifications != 0">{{activeUser.notifications}}</span><i class="fa fa-bell-o"></i> <span class="visible-xs-inline-block">Notificaciones</span></a></li>
              <li ng-if="activeUser.user_id"><a class="color-midnight-blue" href="#/transactions"><span class="visible-xs-inline-block">Créditos: </span> ₡ {{activeUser.credits | number:2 }}</a></li>
            </ul>
            <a href="#/add-ad" class="btn btn-default navbar-btn btn-xs navbar-right link">Anunciar</a>
            <a href="#/tradein" class="btn btn-default navbar-btn btn-xs navbar-right link">Canjear </a>
          </div><!-- /.navbar-collapse --></div>
      </nav>
    </div>

    <div class="notice danger text-center hidden-print" ng-if="activeUser && !activeUser.confirmed && userShowConfirmAlert" ng-cloak>
      <h6>Por favor confirma tu correo para poder comprar y vender. Un mensaje de confirmación se ha enviado a {{activeUser.email}}. <a href="" ng-click="resendActivation()">Reenviar confirmación.</a></h6>
    </div>

    <!-- <notice notice-type="danger" notice-text='Por favor confirma tu correo para poder comprar y vender. Un mensaje de confirmación se ha enviado a corre@ejemplo.com. <a href="">Reenviar confirmación.</a>'></notice> -->

      <!-- /header -->

      <div class="container-principal clearfix" >
        <div ng-view="">

        </div>

        <div class="footer hidden-print">
          <p><a href="#">Inicio - </a> <a href="#/terms">Políticas de uso - </a><!-- <a href="#/how-it-works"> ¿ Cómo funciona ? - </a> -->
            <a href="#/tips">Sugerencias de compra/venta - </a><a href="#/contact-us">Contáctanos</a>

          </p>
          <p>Made with <i class="fa fa-heart"></i> in  Costa Rica - <a href="http://wearetoi.com">TOI Interactive</a> &copy;2014</p>
        </div>
      </div>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-49325113-1');
       ga('send', 'pageview');
     </script>
     <!--Start of Zopim Live Chat Script-->
     <script type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
          _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
          $.src='//v2.zopim.com/?26mUIsZsHL4yQTI3jviYT33BY14bjJP8';z.t=+new Date;$.
          type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->


    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->

    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/flat-ui/dist/js/flat-ui.js"></script>



    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/cryptojslib/rollups/md5.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-ui-utils/keypress.min.js"></script>
    <script src="bower_components/angular-html5-uploader/vendor/uploader.js"></script>
    <script src="bower_components/angular-html5-uploader/html5uploader/html5uploader.js"></script>
    <script src="bower_components/ProgressButtonStyles/js/modernizr.custom.js"></script>
    <script src="bower_components/ProgressButtonStyles/js/classie.js"></script>
    <script src="bower_components/ProgressButtonStyles/js/progressButton.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ion.rangeSlider/js/ion.rangeSlider.js"></script>
    <script src="bower_components/sweetalert/lib/sweet-alert.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/userService.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/register.js"></script>
    <script src="scripts/services/globalService.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/controllers/add-ad.js"></script>
    <script src="scripts/directives/currency-input.js"></script>
    <script src="scripts/controllers/product.js"></script>
    <script src="scripts/services/adService.js"></script>
    <script src="scripts/services/categoryService.js"></script>
    <script src="scripts/services/gameService.js"></script>
    <script src="scripts/directives/gameBox.js"></script>
    <script src="scripts/filters/consoleRoute.js"></script>
    <script src="scripts/controllers/offer.js"></script>
    <script src="scripts/directives/game-box-small.js"></script>
    <script src="scripts/filters/textEllipsis.js"></script>
    <script src="scripts/directives/game-video.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/services/loadControlService.js"></script>
    <script src="scripts/services/validationService.js"></script>
    <script src="scripts/directives/nxDropdown.js"></script>
    <script src="scripts/controllers/wishlist.js"></script>
    <script src="scripts/services/wishlistService.js"></script>
    <script src="scripts/directives/accountTabs.js"></script>
    <script src="scripts/controllers/sales/active.js"></script>
    <script src="scripts/controllers/sales/finished.js"></script>
    <script src="scripts/directives/user-rating.js"></script>
    <script src="scripts/controllers/purchase.js"></script>
    <script src="scripts/directives/gameBoxSmallProfile.js"></script>
    <script src="scripts/filters/timeAgo.js"></script>
    <script src="scripts/services/dealService.js"></script>
    <script src="scripts/controllers/terms.js"></script>
    <script src="scripts/controllers/howItWorks.js"></script>
    <script src="scripts/controllers/tips.js"></script>
    <script src="scripts/controllers/contact-us.js"></script>
    <script src="scripts/controllers/confirm.js"></script>
    <script src="scripts/controllers/passchange.js"></script>
    <script src="scripts/controllers/limitations.js"></script>
    <script src="scripts/controllers/notifications.js"></script>
    <script src="scripts/services/tradeinService.js"></script>
    <script src="scripts/controllers/tradein.js"></script>
    <script src="scripts/controllers/payment.js"></script>

    <script src="scripts/directives/nxSlider.js"></script>
    <script src="scripts/directives/nxrselectpicker.js"></script>
    <script src="scripts/controllers/transactions.js"></script>
    <script src="scripts/controllers/tradeins.js"></script>
    <script src="scripts/services/deliveryService.js"></script>
    <script src="scripts/services/paymentService.js"></script>
    <script src="scripts/controllers/payment-completed.js"></script>
    <script src="scripts/controllers/order-detail.js"></script>
    <script src="scripts/directives/notice.js"></script>
    <script src="scripts/directives/tagsinput.js"></script>
    <script src="scripts/services/gamerankingservice.js"></script>
    <!-- endbuild -->
    <script>
      $(function(){
        $('.input-group').on('focus', '.form-control', function () {
          $(this).closest('.input-group, .form-group').addClass('focus');
        }).on('blur', '.form-control', function () {
          $(this).closest('.input-group, .form-group').removeClass('focus');
        });
        $('a.link').on('click', function(){
          console.log('click')
          $(".navbar-toggle").click() //bootstrap 3.x by Richard
        });
      })
    </script>

  </body>
  </html>
