<div class="account-screen">
  <div class="container">
    <div class="row">
      <account-tabs active-tab="account"></account-tabs>
    </div>


    <div class="col-md-3 text-center">
      <div class="user-perfil">
        <div class="avatar"><img ng-src="{{user.picture}}"></div>
        <div class="upload-picture">
          <input type="file" accept="image/*" id="capture" capture="camera" ng-html5-uploader config="uploader.config" extra-fields="uploader.extraFields" callbacks="uploader.callbacks">
          <button class="progress-button" ng-class="{'state-loading':onProgress, 'state-success':onFinishUpload}" data-style="rotate-side-down" data-perspective="" data-horizontal=""><span class="progress-wrap"><span class="content">Subir imagen</span><span class="progress"><span class="progress-inner notransition" style="width: {{progress}}%; opacity: 1;"></span></span></span></button>
        </div>
        <div class="change-imagen"><a href="#/profile/{{user.user_id}}">Ver mi Perfil</a></div>
      </div>
    </div>

    <div class="col-md-9 right-column">
      <div class="row">
        <div class="form-field mbm col-md-6">
          <label>Nombre</label>
          <input type="text" class="form-control" ng-model="user.name" >
        </div>
        <div class="form-field col-md-6 mbm">
          <label>Nombre de usuario</label>
          <input type="text" class="form-control" disabled ng-model="user.username" >
        </div>
      </div>

      <div class="row">
        <div class="form-field mbm col-md-6">
          <label>Correo</label>
          <input type="text" class="form-control" disabled ng-model="user.email" >
        </div>
        <div class="form-field col-md-6 mbm">
          <label>Teléfono</label>
          <input type="text" class="form-control" ng-model="user.phone" >
        </div>
      </div>
      <div class="row">
        <div class="form-field col-md-6 mbm" ng-class="{'form-group has-error':passInvalid}">
          <label>Contraseña</label>
          <input type="password" class="form-control" ng-model="pass" >
          <div class="help-block">Sólo si quieres cambiarla</div>
        </div>
        <div class="form-field col-md-6 mbm" ng-class="{'form-group has-error':passInvalid}">
          <label>Confirmar Contraseña</label>
          <input type="password" class="form-control" ng-model="pass_c" >
          <div class="help-block">Sólo si quieres cambiarla</div>
        </div>
      </div>


      <div class="row">
        <div class="form-field col-md-6 mbm">
          <label>Provincia</label>
          <div class="select-n">
            <select class="form-control" ng-options="state.name for state in country.states track by state.state_id"  ng-model="user.state"> </select>
          </div>
        </div>
        <div class="form-field col-md-6 mbm">
          <label>Ciudad</label>
          <input type="text" class="form-control" ng-model="user.city" >
        </div>
      </div>

      <div class="row">
        <div class="form-field col-md-12 mbm">
          <label>Dirección exacta</label>
          <textarea class="form-control" ng-model="user.address"></textarea>
          <span class="help-block"><i class="fa fa-warning"></i>Tu dirección exacta es privada sólo será compartida con nooxr o vendedores certificados</span>
        </div>
      </div>

      <div class="col-md-12 save-btn mtl text-center">
        <a href="" class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3 btn btn-embossed btn-primary" ng-click="updateUser()"> Guardar</a>
      </div>
    </div>
  </div>
</div>