<div class="add-ad-screen">
  <div class="container">
    <div class="row normal-page">
    
      <div class="col-md-8 col-md-offset-2 ">
        
    
        <div class="col-md-12">
          <legend>Anunciar Juego</legend>
          <div  ng-hide="nolist" class="form-field nooxr-big-search" ng-class="{'form-group has-error':validation.gameId}">
            <div class="select2-container form-control select select-default">
              <input ui-select2="selectGame" ng-model="ad.id" placeholder="Nombre del juego" >
            </div>
            <span class="help-block">¿No aparece tu juego? haz <a ng-click="nolist=true" href=""> click aquí </a> para agregar manualmente</span>
          </div>
          <div ng-show="nolist" class="form-field" ng-class="{'form-group has-error':validation.noid}">
            <input type="text" class="form-control" ng-model="ad.noid"  placeholder="Nombre del juego">
    
          <p class="small margin-top"> <i class="fa fa-exclamation-triangle"></i>Tu oferta será indexada en un maximo de 72 horas</p>
    
            <span class="help-block">Haz <a ng-click="nolist=false" href=""> click aquí </a> para buscar en juegos indexados</span>
          </div>
        </div>
    
        
      
        <div class="col-md-4">
          <div class="form-field" ng-class="{'form-group has-error':validation.console_id}">
           <div class="select2-container form-control select select-default">
              <select ui-select2 ng-model="ad.console_id" data-placeholder="Consola">
                <option value=""></option>
                <option ng-repeat="console in consoles" value="{{console.id}}">{{console.name}}</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="form-field " ng-class="{'form-group has-error':validation.gameState_id}">
            <div class="select2-container form-control select select-default">
              <select ui-select2 ng-model="ad.gameState_id" data-placeholder="Estado del juego">
                <option value=""></option>
                <option ng-repeat="gameState in gameStates" value="{{gameState.id}}">{{gameState.name}}</option>
              </select>
                      </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="form-field" ng-class="{'form-group has-error':validation.price}">
            <input type="text" class="form-control" ng-model="ad.price" currency-input placeholder="Precio">
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="form-field">
            <input type="text" class="form-control" ng-model="ad.comment" placeholder="Comentario Adicional">
            <p class="small margin-top"> <i class="fa fa-hand-o-right"></i>Te recomendamos usar esta casilla para notificar algún detalle del juego, o bien, informar acerca de métodos de pago o información de envío</p>
          </div>
        </div>
    
        <div class="col-md-12">
          <p>¿Por cuáles otros juegos lo cambiarias?:</p>
        </div>
    
        <div class="col-md-12">
          <div id="tagsinput_tagsinput" class="tagsinput " style="height: 100%;">
            <span ng-repeat="game in acceptedGames" class="tag" ng-class="{'tag-blue':!game.id}">
              <span>{{game.title}}&nbsp;&nbsp;</span>
              <a ng-click="removeTagGame(game)" class="tagsinput-remove-link fa fa-close"></a>
            </span>
            <div class="tagsinput-add-container">
              <div class="tagsinput-add fa fa-plus" ng-click="showAddGame = 1"></div>
            </div>
          </div>
        </div>
    
        
    
        <div class="col-md-12" ng-show="showAddGame > 0">
          <div class="form-field">
          <div ng-show="showAddGame == 1">
            <input ui-select2="selectGames" ng-model="addAcceptedGameDB" placeholder="Buscar..." class="select2-container form-control select select-default" >
            <span class="help-block">Haz <a  ng-click="showAddGame = 2" href=""> click aquí </a> si el juego que buscas no aparece</span>
          </div>
          <div ng-show="showAddGame == 2">
            <input type="text" class="form-control" ng-model="addAcceptedGame" ui-keypress="{enter: addGameNoDB}" placeholder="Escribe el nombre del juego">
          </div>
          </div>
        </div>
    
        <div class="col-md-12 game-tag-info">
          <p class="small green">Estos juegos serán añadidos automaticamente a tu lista de deseos</p>
          <p class="small blue">Estos juegos serán indexados en el sistema dentro de las proximas 72 horas para que luego los puedas añadir a tu lista de deseos</p>
        </div>
    
        <div class="col-md-12">
          <p>Revisa tu información de contacto:</p>
        </div>
    
        <div class="col-md-6">
          <div class="form-field" ng-class="{'form-group has-error':validation.city}">
          <label for="city">Ciudad:</label>
            <input name="city" type="text" class="form-control" ng-model="user.city" >
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="form-field" ng-class="{'form-group has-error':validation.phone}">
          <label for="phone">Teléfono:</label>
            <input name="phone" type="text" class="form-control" ng-model="user.phone" >
          </div>
        </div>
        
        <div class="col-md-8 col-md-offset-2 ">
          <div class="btn btn-primary btn-embossed" ng-class="{'disabled':disableSendBtn}" ng-click="publishIt()"> Publicar Anuncio &nbsp;&nbsp; <span ng-show="disableSendBtn" ><img src="images/loader_mini_send.gif" alt=""></span></div>
        </div>
    
    
      </div> 
    </div>
  </div>
</div>