<div class="container">
  <div class="normal-page">
    <div class="row">
      <p ng-show="!error" class="text-align-center">Usuario Confirmado. <br> Para volver a la pagina de inicio haz <a href="#/login">click aquí</a></p>
      <p ng-show="error" class="text-align-center">No se puede confirmar Usuario.<br> Puede que el codígo ya no sea valido, te recomendamos <a href="#/login">logearte</a> y solicitar un reenvio.<br> Si crees que se trata de un error escribenos a <a href="mailto:error@nooxr.com">error@nooxr.com o al teléfono +506 4031-0889</a></p>
    </div>
  </div>
</div>