<div class="nooxr-contact-us">
  <div class="container">
    <div class="row normal-page ">
      <div class="col-md-6">
        <h6>Escríbenos</h6>
        <form ng-submit="sendMsg()">
            <p ng-if="!logedUser" class="small">Tienes que <a href="" ng-click="logIn('contact-us')">ingresar</a> o <a href="#/register">registrarte</a> para escribirnos por este medio</p>
            <!-- <div class="form-field col-md-12" ng-class="{'form-group has-error':validation.name}">
              <label>Nombre:</label>
              <input type="text" class="form-control" ng-model="msg.name" >
            </div>
            <div class="form-field col-md-12" ng-class="{'form-group has-error':validation.email}">
              <label>Email:</label>
              <input type="text" class="form-control" ng-model="msg.email" >
            </div> -->
            <div class="form-field col-md-12" ng-class="{'form-group has-error':validation.subject}">
              <label>Asunto:</label>
              <input ng-disabled="!logedUser" type="text" class="form-control" ng-model="msg.subject" >
            </div>
            <div class="form-field col-md-12" ng-class="{'form-group has-error':validation.msg}">
              <label>Mensaje:</label>
              <textarea ng-disabled="!logedUser" rows="10" class="form-control" ng-model="msg.msg"></textarea>
            </div>
            <div class="save-btn-contact " >
             <button ng-disabled="!logedUser" class="btn btn-embossed btn-primary col-md-8 col-md-offset-2 "> Enviar</button>
            </div>
        </form>
      </div>
      <div class="col-md-6">
        <h6>Contáctanos</h6>
        <ul>
          <li>Teléfono: +(506) 4031-0889</li>
          <li>Email: <a href="mailto:info@nooxr.com">info@nooxr.com</a></li>
          <!-- <li>Apto.Postal: 12332-23 San José</li> -->
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1965.0078846360332!2d-84.06046374445802!3d9.932644336218106!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2s!4v1397771601233" width="400" height="300" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</div>