<div class="nooxr-login-screen">
  <div class="pretty-header">
    <h1>Ingresar</h1>
    <span>¡Empieza a comprar y vender tus juegos totalmente gratis!</span>
  </div>
  <div class="container ptl">
    <div class="row mtl">
      <!-- col form -->
      <div class="col-md-6 col-xs-6 clearfix col-left">
        <form ng-submit="normalLogin()">
          <div class="form-field mbl">
            <input type="text" class="form-control" placeholder="Usuario o Correo" ng-model="email" ng-class="{'has-error':validation.email}">
          </div>
          <div class="form-field mbl">
            <input type="password" class="form-control" placeholder="Contraseña" ng-model="password" ng-class="{'has-error':validation.password}">
          </div>
          <div class="form-field mbs">
            <button class="btn btn-sm btn-primary text-uppercase btn-login">Ingresar</button>
          </div>
          <div class="form-field help-block text-center">
            <a ng-click="passRecovery()" href="" class="color-concrete">Recuperar contraseña</a>
          </div>
        </form>
      </div>
      <!-- [end] col form -->

      <!-- col fb -->
      <div class="col-md-6 col-xs-6 clearfix col-right">
        <a href="" class="btn btn-facebook col-xs-12 col-sm-7" ng-click="facebookLogin()"> <i class="fa fa-facebook-square"></i> Ingresa con Facebook </a>
        <div class="help-block help-block-lg mtm col-sm-12 row last-col">Si ya eres miembro y tu cuenta está ligada con facebook puedes iniciar seesión con un solo clic.</div>
      </div>
      <!-- [end] col fb -->
      <div class="col-md-12 col-xs-12 clearfix text-center help-block help-block-last">
        Aún no eres miembro? <a href="#/register">Registrate gratis!</a>
      </div>
    </div>

  </div>
</div>
<script type="text/ng-template" id="passwordRecovery">
  <div class="modal-header">
    <h6>Recuperar contraseña</h6>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-md-12">

        <div class="form-field" ng-class="{'form-group has-error':validation.emailrecovery}">
          <input type="text" class="form-control" ng-model="$parent.emailrecovery" placeholder="Ingresa tu correo electronico">
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-class="{'disabled':disabledBtn}" ng-click="requestPassChange()">Recuperar</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
  </div>
</script>