<div class="home-screen">

  <!-- / Main cover -->
  <div class="main-cover visible-lg visible-md visible-sm" ng-if="actualPath == '/games'">

    <!-- cover -->
    <div class="cover bg-midnight-blue">
      <div class="bg-image"><img src="images/nfsr.jpg"></div>
      <div class="container">
        <div class="main-title col-md-7 row">
          <h6>¡EL MEJOR LUGAR PARA VENDER, COMPRAR E INTERCAMBIAR TUS JUEGOS TOTALMENTE GRATIS!</h6>
          <a href="#/add-ad" class="btn btn-block btn-lg btn-danger pull-left mtl">¡Únete YA!</a>
        </div>
      </div>
    </div>
    <!-- /cover  -->

    <!-- Main explanation -->
    <div class="main-explanation">
      <!-- Explanation icons -->
      <div class="explanation-icons bg-turquoise">
        <div class="container ptm pbm text-center">
          <div class="img-ad col-md-3 col-sm-3"><img src="images/main-cover-icons/ad.png"></div>
          <div class="img-deal col-md-3 col-sm-3"><img src="images/main-cover-icons/deal.png"></div>
          <div class="img-buy col-md-3 col-sm-3"><img src="images/main-cover-icons/buy.png"></div>
          <div class="img-exchange col-md-3 col-sm-3"><img src="images/main-cover-icons/exchange.png"></div>
        </div>
      </div>
      <!-- /Explanation icons -->


      <!-- Explanation caption -->
      <div class="explanation-caption bg-green-sea">
        <div class="container ptm pbm text-center">
          <div class="col-md-3 col-sm-3">
            <h5>Anuncia</h5>
            <div class="caption">
              Anuncia tu juego en la comunidad para empezar a vender o intercambiar.
            </div>
            <a href="#/add-ad" class="btn btn-xs btn-primary"><strong>¡Anunciar ya!</strong></a>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5>Canjea</h5>
            <div class="caption">
              Canjea tu juego por créditos, así podrás comprar otros juegos dentro de la página.
            </div>
            <a href="" class="btn btn-xs btn-primary disabled"><strong>Próximamente</strong></a>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5>Compra</h5>
            <div class="caption">
              Compra tu juego favorito al mejor precio, ya sea nuevo o usado.
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <h5>Intercambia</h5>
            <div class="caption">
              Intercambia tus juegos con otros usuarios dentro de la comunidad.
            </div>
          </div>
        </div>
      </div>
      <!-- / Explanation caption -->

    </div>
    <!-- / Main explanation -->
  </div>
  <!-- / Main cover -->

    <!-- / Main cover MOBILE -->
  <div class="main-cover-mobile visible-xs" ng-if="actualPath == '/games'">

    <!-- cover -->
    <div class="cover bg-midnight-blue pbl">
      <div class="bg-image"></div>
      <div class="container">
        <div class="col-md-7 row">
          <h6><small>¡EL MEJOR LUGAR PARA VENDER, COMPRAR E INTERCAMBIAR TUS JUEGOS TOTALMENTE GRATIS!</small></h6>
          <a href="#/add-ad" class="btn btn-block btn-lg btn-danger pull-left mtl">¡Únete YA!</a>
        </div>
      </div>
    </div>
    <!-- /cover  -->

    <!-- Main explanation -->
    <div class="main-explanation">


      <!-- Explanation caption -->
      <div class="explanation-caption bg-green-sea">
        <div class="container ptm pbm text-center">
          <div class="col-xs-6">
            <h5>Anuncia</h5>
            <div class="caption">
              Anuncia tu juego en la comunidad para empezar a vender o intercambiar.
            </div>
            <a href="#/add-ad" class="btn btn-xs btn-primary"><strong>¡Anunciar ya!</strong></a>
          </div>
          <div class="col-xs-6">
            <h5>Canjea</h5>
            <div class="caption">
              Canjea tu juego por créditos, así podrás comprar otros juegos dentro de la página.
            </div>
            <a href="" class="btn btn-xs btn-primary disabled"><strong>Próximamente</strong></a>
          </div>
          <div class="col-md-3 col-xs-6 mtl">
            <h5>Compra</h5>
            <div class="caption">
              Compra tu juego favorito al mejor precio, ya sea nuevo o usado.
            </div>
          </div>
          <div class="col-md-3 col-xs-6 mtl">
            <h5>Intercambia</h5>
            <div class="caption">
              Intercambia tus juegos con otros usuarios dentro de la comunidad.
            </div>
          </div>
        </div>
      </div>
      <!-- / Explanation caption -->

    </div>
    <!-- / Main explanation -->
  </div>
  <!-- / Main cover -->

  <div class="container">
    <div class="row clearfix">  
      <div class="col-sm-12 row consoles" ng-if="actualPath != '/games'">
        <div class="col-sm-1 text-muted"><small>consolas</small></div>
        <div class="col-sm-10 last-col">
          <a  class="ng-cloak pull-left mrs" ng-repeat="console in menuConsoles" href="#{{actualPath | consoleRoute }}?console_id={{console.id}}">
            <span class="label label-default"  ng-class="{'label-danger':urlParams.console_id==console.id}"><span>{{console.name}}</span></span>
          </a>
        </div>
      </div> 
  <!-- New game box -->
  <div class="col-sm-3 col-xs-4 game-box mbl" ng-repeat="game in games">
    <game-box game-data="game"></game-box>
  </div>
</div>
  <div class="clearfix row">
    <div class="pagination-container-center">
      <pagination rotate="false" next-text=">>" items-per-page="pItemsPerPage" max-size="'10'"  previous-text="<<" total-items="pTotalItems" page="pActualPage" num-pages="pNumPages" class="pagination-sm"  on-select-page="pPageChange(page)" boundary-links="false"></pagination>
    </div>
  </div>
</div>
</div>




