<div class="nooxr-notifications-screen">
  <div class="container">
    <div class="row normal-page">
      <div class="col-md-10 col-md-offset-1">
        <div ng-if="notifications.length == 0" class="pagination-container-center">
          <br>No tienes notificaciones aún. Empieza a anunciar tus juegos haciendo <a href="#/add-ad">click aquí</a> 
        </div>
        <table ng-if="notifications.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Notificaciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-class="{'warning':!notification.read}" ng-repeat="notification in notifications">
              <td class="notification"><a href="#/{{notification.url}}">{{notification.text}}</a></td>
              <td class="date color-asbestos">{{notification.created_at| timeAgo}}</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container-center">
          <pagination rotate="false" next-text=">>" items-per-page="pItemsPerPage" max-size="'10'"  previous-text="<<" total-items="pTotalItems" page="pActualPage" num-pages="pNumPages" class="pagination-sm" on-select-page="pPageChange(page)" boundary-links="false"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>