<div class="offer-screen">
  <div class="container">


    <div class="row">
      <div class="col-md-8">

        <!-- header -->
        <div class="offer-header clearfix">
          <!-- Perfil -->
          <div class="user-perfil pull-left">
            <a href="#/profile/{{ad.user.user_id}}" class="avatar pull-left"><img ng-src="{{ad.user.picture}}"></a>
            <a href="#/profile/{{ad.user.user_id}}" class="username pull-left mtm mls">{{ad.user.username}}</a>
          </div>

          <a href="" ng-click="linkFb()" class="pull-left mtm mll"><i class="fa fa-facebook"></i> Compartir</a>

          <div class="offer-id mll pull-left mtm">Anuncio #{{ad.id}}</div>

          <!-- [End] Perfil -->
          <a ng-if="logedUser && logedUser.user_id != ad.user.user_id" ng-click="denunciate()" href="" class="report color-alizarin pull-right mtm"><i class="fa fa-flag"></i> Reportar</a>
          <a ng-if="!logedUser" href="" ng-click="logIn('ad/'+ad.id)" class="report color-alizarin pull-right mtm"><i class="fa fa-flag"></i> Reportar</a>
        </div>
        <!-- [end] header -->
          
        <div class="offer-details mtl mbl pbl clearfix">
          <div class="col-left pull-left">
            <div class="game-cover box-shadow-pretty">
              <img ng-src="{{ad.game.thumbnail}}">
            </div>
            <div class="offer-buy mtm text-center">
              <div class="price color-alizarin mbs">
                {{ad.price | currency:"₡"}}
              </div>
              <a href="" ng-click="buyDeal()" ng-if="logedUser && logedUser.user_id != ad.user.user_id && !ad.finished && !ad.user.allow_payments && activeUser && activeUser.confirmed" class="btn btn-primary">Comprar</a>
              <a href="" ng-click="logIn('ad/'+ad.id)" ng-if="!logedUser && !ad.finished" ng-click="logIn('ad/'+ad.id)" class="btn btn-primary">Comprar</a>
              <a href="#/payment/{{ad.id}}" ng-if="logedUser && logedUser.user_id != ad.user.user_id && !ad.finished && ad.user.allow_payments && activeUser && activeUser.confirmed" class="btn btn-primary">Comprar</a>
              <a href="#/product/{{ad.game.id}}" class="btn btn-default btn-xs mts">Ver más info y ofertas</a>
            </div>
          </div>

          <div class="offer-info pull-left col-md-6 col-xs-8">
            <h1><a href="#/product/{{ad.game.id}}" class="color-wet-asphalt">{{ad.game.name}}</a></h1>
            <div class="text-helper color-silver text-uppercase mtm mbs">Información del anuncio</div>
            <table>
              <tr>
                <td class="text-helper color-asbestos text-uppercase">Estado</td>
                <td>{{ad.game_state.name}}</td>
              </tr>
              <tr>
                <td class="text-helper color-asbestos text-uppercase">Plataforma</td>
                <td><span class="platform-s">{{ad.console.name}}</span></td>
              </tr>
              <tr>
                <td class="text-helper color-asbestos text-uppercase">Ubicación</td>
                <td>{{ad.user.city}}<span ng-if="ad.user.city">, </span>{{ad.user.state}}</td>
              </tr>
              <tr>
                <td class="text-helper color-asbestos text-uppercase">Anuncio Visto</td>
                <td>{{ad.views}} <span ng-if="ad.views<=1">vez</span><span ng-if="ad.views>1">veces</span></td>
              </tr>
            </table>
            <div class="text-helper color-silver text-uppercase mtm mbx" ng-if="ad.accepted_games">Me interesan estos juegos</div>
            <div ng-if="ad.accepted_games">{{ad.accepted_games}}</div>
            <div class="text-helper color-silver text-uppercase mtm mbx" ng-if="ad.comment">Información adicional</div>
            <div ng-if="ad.comment">{{ad.comment}}</div>

          </div>

        </div>

          <div class="form-deal" ng-class="{'has-error': errorSendDeal}" ng-if="logedUser && logedUser.user_id != ad.user.user_id && !ad.finished">
            <textarea cols="30" ng-disabled="activeUser && !activeUser.confirmed"  ng-model="$parent.dealText" rows="3" class="form-control" placeholder="Negocia con el vendedor"></textarea>
            <button ng-if="activeUser && activeUser.confirmed" class="btn btn-xs btn-embossed btn-primary ng-binding" ng-class="{'loading-primary disabled': sendingDeal}" ng-click="addDeal()"> Publicar </button>
            <div class="message" ng-if="activeUser && activeUser.confirmed">Si tu oferta es aceptada tus datos de contacto se le enviarán al vendedor.</div>
          </div>
          <div  ng-if="!logedUser && !ad.finished" class="login-to-post">
            Ténes que <a href="" ng-click="logIn('ad/'+ad.id)" >loguearte o registrarte</a> para poder negociar con el vendedor
          </div>
          <div  ng-if="ad.finished" class="login-to-post">
            Publicación finalizada. <a href="#/product/{{ad.game.id}}">Ver otras publicaciónes de {{ad.game.name}}</a>
          </div>

          <div class="comments">
            <!-- REPEAT -->
            <div class="comment-container" ng-repeat="deal in deals" ng-class="{'reply':deal.response, 'accepted':deal.accepted}">
              <div class="perfil-cont">
                <div class="user-perfil">
                  <div class="avatar"><img ng-src="{{deal.user.picture}}"></div>
                </div>
              </div>
              <div class="comment-cont box-shadow-pretty">
                <div class="accepted-cont color-turquoise"> ACEPTADA <span class="input-icon fui-check-inverted"></span></div>
                <div class="comment-header pts">
                  <a href="#/profile/{{deal.user.user_id}}" class="username">{{deal.user.username}}</a>
                  <span class="time color-asbestos">{{deal.created_at | timeAgo}}</span>
                </div>
                <!-- Comment -->
                <p class="comment">{{deal.text}}</p>

                <!-- Response -->
                <div class="response" ng-if="deal.response">
                  <i class="fa fa-level-up fa-1"></i>
                  <div class="response-header">
                    <span class="title color-alizarin">Respuesta de <a href="#/profile/{{ad.user.user_id}}" class="username color-alizarin">{{ad.user.username}}</a></span><span class="time color-asbestos">{{deal.updated_at | timeAgo}}</span>
                  </div>
                  <p class="comment">{{deal.response}}</p>
                </div>
              </div>
            </div>
            <!-- END REPEAT -->
          </div>

        </div>
        <div class="col-md-4 col-similar-consoles">
          <!-- similar plataforma -->
            <div class="subtitle text-uppercase color-silver mtm mbm">Más juegos para <span class="color-asbestos">{{ad.console.name}}</span></div>
            <p ng-if="similar_cosole.length == 0" class="color-silver"><small>No hay juegos para esta consola.</small></p>
            <div class="game-box-h-small" ng-repeat="ad in similar_cosole" ng-if="similar_cosole.length > 0">
              <a href="#/ad/{{ad.id}}" class="cover box-shadow-pretty clearfix" title="{{ad.game.name}}">
                <div class="image pull-left"> <img ng-src="{{ad.game.thumbnail}}" alt="{{ad.game.name}}"></div>
                <div class="details pull-left mlm">
                  <div class="name color-wet-asphalt">{{ad.game.name}}</div>
                  <div class="from color-concrete text-uppercase mts">Estado</div>
                  <div class="state color-wet-asphalt text-uppercase">{{ad.game_state.name}}</div>
                  <div class="from color-concrete text-uppercase mts">Precio</div>
                  <div class="price color-alizarin">{{ad.price | currency:"₡"}}</div>
                </div>
              </a>
            </div>
          <!-- [end] similar games -->
        </div>
      </div>
    </div>
  </div>
