<div class="container">
  <div class="page-order-detail normal-page col-sm-6 col-sm-offset-2 clearfix no-float">
  
    <!-- SUCCESS -->
    <div class="payment-success">
      <div class="text-center payment-title">
        <h5 class="text-inline text-primary">Orden #{{order.order.id}}</h5>
      </div>
  
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td class="no-border">Descripción del artículo</td>
            <td class="no-border text-right"><strong>{{order.ad.game.name}}</strong></td>
          </tr>
          <tr>
            <td>Precio</td>
            <td class="text-right"><strong>{{order.order.price | currency:'₡'}}</strong></td>
          </tr>
          <tr>
            <td>Tus créditos</td>
            <td class="text-right"><span ng-if="credits > 0">-</span><span ng-if="credits < 0">+</span> <strong>{{order.order.user_credit | currency:'₡'}}</strong></td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td class="text-right"><strong>{{subTotal |currency:"₡"}}</strong></td>
          </tr>
          <tr >
            <td class="sub-cost">Costo de servicio</td>
            <td class="text-right sub-cost"><span ng-if="serviceCost > 0">+</span> <strong>{{order.order.additional_cost |currency:"₡"}}</strong></td>
          </tr>
          <tr ng-hide="lastDelivery">
            <td class="sub-cost">Costo de transporte</td>
            <td class="sub-cost text-right"><span ng-if="activeDelivery.cost > 0">+</span> <strong>{{order.order.delivery_cost |currency:"₡"}}</strong></td>
          </tr>
          <tr class="total">
            <td>
              <div class="method-payment">
                <div><strong>Método de pago:</strong></div>
                <div><small>{{order.payment_type.name}}</small></div>
              </div>
              <div class="date-payment">
                <div><strong>Pagado el:</strong></div> <div><small>{{order.order.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</small></div>
              </div>
            </td>
            <td class="text-right">
              <div class="text-total text-inline">Total</div>
              <h6 class="text-inline"><strong>{{total |currency:"₡"}}</strong></h6>
            </td>
          </tr>
          <tr class="bg-clouds">
            <td><span class="text-uppercase"><small><strong>Transacciones para esta compra</strong></small></span></td>
            <td></td>
          </tr>
          <tr class="transaction" ng-repeat="transaction in order.transactions">
            <td colspan="2">
              <div class="color-asbestos pull-right"><small>{{transaction.created_at| date:'dd/MM/yyyy HH:mm:ss'}}</small></div>
              <div class="pull-left">
                <span class="label  ng-scope" ng-class="{'label-danger':transaction.type.id==3, 'label-info':transaction.type.id!=3}" >{{transaction.type.name}}</span> <span class="margin-left" ng-class="{'text-danger':transaction.type.id==3}"><small><strong>₡ {{transaction.amount | number:2 }}</strong></small></span>
              </div>
              <div style="clear:both"><small>{{transaction.description}}</small></div>
              </td>
            <!-- <td class="date color-asbestos"><small>{{transaction.created_at| date:'dd/MM/yyyy HH:mm:ss'}}</small></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-sm-6 center-block no-float hidden-print clearfix print-cont row" ng-if="!order.order.invoice_fail">
  <a href="javascript:window.print();" class="btn btn-primary btn-xs pull-right"> <i class="fa fa-print"></i> Imprimir</a>
</div>