<div class="nooxr-pass-change-screen">
  <div class="container">
    <div class="row normal-page">
      <div ng-show="!result" class="col-md-4 col-md-offset-4">
        <p>Cambio de contraseña</p>
        <div class="form-field" ng-class="{'form-group has-error':validation.pass}">
            <input type="password" class="form-control" ng-model="pass" placeholder="Contraseña">
        </div>
        <div class="form-field" ng-class="{'form-group has-error':validation.c_pass}">
            <input type="password" class="form-control" ng-model="c_pass" placeholder="Confirma contraseña">
        </div>
        <div class="btn btn-info btn-embossed" ng-click="sendPassChangeRequest()">Cambiar Contraseña</div>
      </div>
      <div ng-show="result" class="col-md-4 col-md-offset-4">
        <p ng-show="!error">Tu contraseña fue cambiada exitosamente. Haz <a href="#/login">click aquí</a> para logearte</p>
        <p ng-show="error">No podemos cambiar tu contraseña, solicita un nuevo codigo en la pagina de  <a href="#/login">login</a>.Si el problema persiste comunicate con nosotros a <a href="mailto:error@nooxr.com">error@nooxr.com</a> o al teléfono +506 4031-0889</p>
      </div>
    </div>
  </div>
</div>