<div class="row payment-screen">
  <div class="container">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="col-sm-8 col-xs-6">
        <div class="game-cover box-shadow-pretty">
          <img class="game-cover" src="{{ad.game.thumbnail}}">
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 address-cont" ng-class="{'form-group has-error':validation.address}">
        <label for="address">Dirección de envio</label>
        <textarea id="address" class="form-control" ng-disabled="lastDelivery" ng-model="address"></textarea>
      </div>
      <div class="col-sm-12 col-xs-12" ng-class="{'form-group has-error':validation.phone}">
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" ng-model="phone" ng-disabled="lastDelivery" class="form-control">
      </div>
    </div>
    <div class="col-sm-6">
      <h4>Detalle de la compra</h4>
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td><small>Descripción del artículo</small></td>
            <td>{{ad.game.name}}</td>
          </tr>
          <tr>
            <td><small>Precio</small></td>
            <td>{{ad.price |currency:"₡" }}</td>
          </tr>
          <tr>
            <td><small>Tus créditos</small></td>
            <td ng-class="{'text-danger':credits < 0}"><span ng-if="credits > 0">-</span><span ng-if="credits < 0">+</span> {{credits |currency:"₡" }}</td>
          </tr>
          <tr>
            <td><small>Subtotal</small></td>
            <td>{{preSubtotal |currency:"₡"}}</td>
          </tr>
          <tr >
            <td><small>Costo de servicio</small></td>
            <td><span ng-if="serviceCost > 0">+</span> {{serviceCost |currency:"₡"}}</td>
          </tr>
          <tr>
            <td><small>Método de pago</small></td>
            <td>
             <div class="select2-container form-control select select-default">
                <select nxrselectpicker ng-model="paymentMethod" configselectpicker="{dropdownCssClass:'dropdown-inverse no-search'}" ng-options="payment.name for payment in paymentOptions track by payment.id">
                <option value=""></option>
                </select>
              </div>
            </td>
          </tr>
          
          <tr ng-hide="lastDelivery">
            <td><small>Entrega</small></td>
            <td>
             <div class="select2-container form-control select select-default">
                <select ng-disabled="forceDelivery" nxrselectpicker ng-model="activeDelivery" configselectpicker="{dropdownCssClass:'dropdown-inverse no-search'}" ng-options="deliveryService.name for deliveryService in deliveryServices track by deliveryService.id" update-callback="updateSelect2">
                <option value=""></option>
                </select>
              </div>
            </td>
          </tr>
          <tr ng-hide="lastDelivery">
            <td><small>Costo de transporte</small></td>
            <td><span ng-if="activeDelivery.cost > 0">+</span> {{activeDelivery.cost |currency:"₡"}}</td>
          </tr>
          <tr ng-hide="lastDelivery">
            <td><small>Información de transporte</small></td>
            <td><small>{{activeDelivery.description}}</small></td>
          </tr>
          <tr ng-show="lastDelivery">
            <td colspan="2">
              <div class="delivery-note">Enviaremos esta orden junto con la orden #{{lastOrder}} para ahorrarte el envio. Si deseas procesar esta orden con otro servicio de entrega y/o otra dirección <a ng-click="removeLastDelivery()" href="">haz click aqui</a></div>
            </td>
          </tr>
          <tr class="total">
            <td><h4>TOTAL</h4></td>
            <td><h4>{{total |currency:"₡"}}</h4></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="btn-payment-cont" ng-show="paymentMethod.allow_deliveries || !paymentMethod.allow_deliveries && credits >= 0">
                <button ng-click="initializePayment()" class="btn-payment btn btn-lg btn-embossed btn-primary col-sm-6 col-xs-12">Procesar pago&nbsp;&nbsp; <span ng-show="paymentloading" ><img src="images/loader_mini_send.gif" alt=""></span></button>
              </div>
              <div class="payment-note text-danger" ng-if="!paymentMethod.allow_deliveries && credits <= 0">El balance en tu cuenta tiene que ser positivo para procesar esta compra.</div>
              <div class="payment-note" ng-if="paymentMethod.allow_deliveries">Al hacer click en "Procesar Pago" aceptas los términos y condiciones de este sitio. Para procesar el pago serás redireccionado al sitio web del banco</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
