<div class="container">
  <div class="page-payment-complete normal-page col-sm-6 col-sm-offset-2 clearfix no-float" ng-class="{'not-stamp':order.order.invoice_fail}">
    
    <!-- FAIL -->
    <div class="payment-fail" ng-if="order.order.invoice_fail">
      <div class="text-center payment-title">
        <i class="fa fa-frown-o text-danger check text-inline"></i><h5 class="text-inline">¡Pago fallido!</h5>
      </div>
      <div class="payment-fail-reason center-block label label-default label-danger">{{order.order.invoice_fail_reason}}</div>
      <div class="text-center margin-top">
        <a href="#/payment/{{order.ad.id}}" class="btn btn-primary btn-embossed"> Intentar de nuevo</a>
      </div>
    </div>
  
    <!-- SUCCESS -->
    <div class="payment-success" ng-if="!order.order.invoice_fail">
      <div class="text-center payment-title">
        <i class="fa fa-check-circle color-turquoise check text-inline"></i><h5 class="text-inline">Pago completado</h5>
      </div>
      <div class="order-summary">
        <small>Resumen de la <span class="text-primary">orden #{{order.order.id}}</span></small>
      </div>
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td class="no-border">Descripción del artículo</td>
            <td class="no-border text-right"><strong>{{order.ad.game.name}}</strong></td>
          </tr>
          <tr>
            <td>Precio</td>
            <td class="text-right"><strong>{{order.order.price | currency:'₡'}}</strong></td>
          </tr>
          <tr>
            <td>Tus créditos</td>
            <td class="text-right"><span ng-if="credits > 0">-</span><span ng-if="credits < 0">+</span> <strong>{{order.order.user_credit | currency:'₡'}}</strong></td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td class="text-right"><strong>{{subTotal |currency:"₡"}}</strong></td>
          </tr>
          <tr >
            <td class="sub-cost">Costo de servicio</td>
            <td class="text-right sub-cost"><span ng-if="serviceCost > 0">+</span> <strong>{{order.order.additional_cost |currency:"₡"}}</strong></td>
          </tr>
          <tr ng-hide="lastDelivery">
            <td class="sub-cost">Costo de transporte</td>
            <td class="sub-cost text-right"><span ng-if="activeDelivery.cost > 0">+</span> <strong>{{order.order.delivery_cost |currency:"₡"}}</strong></td>
          </tr>
          <tr class="total">
            <td>
              <div class="method-payment">
                <div><strong>Método de pago:</strong></div>
                <div><small>{{order.payment_type.name}}</small></div>
              </div>
              <div class="date-payment">
                <div><strong>Pagado el:</strong></div> <div><small>{{order.order.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</small></div>
              </div>
            </td>
            <td class="text-right">
              <div class="text-total text-inline">Total</div>
              <h6 class="text-inline"><strong>{{total |currency:"₡"}}</strong></h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-sm-6 center-block no-float hidden-print clearfix print-cont row" ng-if="!order.order.invoice_fail">
  <a href="javascript:window.print();" class="btn btn-primary btn-xs pull-right"> <i class="fa fa-print"></i> Imprimir</a>
  <a href="#/" class="btn btn-primary btn-xs pull-right margin-right">Seguir comprando</a>
</div>