<div class="product-screen">
  <div class="container">

    <!-- [start] COVER -->
    <div class="row">
      <div class="content-main-cover col-md-8">
        <div class="main-cover bg-midnight-blue ptl pbl clearfix">
          <div class="image hidden-sm hidden-xs"><img ng-src="{{image_cover}}" alt="{{product.title}}"></div>
          <div class="col-md-12 col-sm-12 col-xs-12 mbl">
            <h5 class="text-uppercase title">{{product.title}}</h5>

            <div class="game-box-single mtm pull-left">
              <img ng-src="{{product.trumbnail}}" alt="{{product.title}}">
            </div>

            <!-- [start] Game details -->
            <div class="content-game-details col-lg-8 col-md-9 col-xs-8 clearfix">
              <table class="game-details pull-left mlm mtm" ng-hide="gameRankingLoading" ng-if="!gameExternalInfo">
                <tr>
                  <td class="caption pbs">Género</td>
                  <td class="sub-caption">{{category}}</td>
                </tr>
              </table>

              <table class="game-details pull-left mlm mtm" ng-hide="gameRankingLoading" ng-if="gameExternalInfo">
                <tr>
                  <td class="caption pbs">Género</td>
                  <td class="sub-caption">{{category}}</td>
                </tr>
                <tr>
                  <td class="caption pbs">Productor</td>
                  <td class="sub-caption caption-publisher text-ellipsis">{{gameRanking.publisher}}</td>
                </tr>
                <tr>
                  <td class="caption pbs">Plataformas</td>
                  <td class="sub-caption caption-platforms"><span ng-repeat="platforms in gameRanking.platforms" class="platform mrx mbx pull-left">{{platforms}}</span></td>
                </tr>
                <tr>
                  <td class="caption pbs">Publicado</td>
                  <td class="sub-caption">{{gameRanking.date}}</td>
                </tr>
                <tr>
                  <td class="pbs divider" colspan="2"></td>
                </tr>
                <tr>
                  <td class="caption ranking-caption">Puntuación</td>
                  <td class="color-sun-flower ranking pts">{{gameRanking.score}}</td>
                </tr>
              </table>
              <!-- MOCKUP -->
              <table class="game-details pull-left mlm mtm mockup" ng-show="gameRankingLoading">
                <tr>
                  <td class="caption pbs">bl</td>
                  <td class="sub-caption">bla</td>
                </tr>
                <tr>
                  <td class="caption pbs">bla</td>
                  <td class="sub-caption caption-publisher text-ellipsis">blah</td>
                </tr>
                <tr>
                  <td class="caption pbs">bla</td>
                  <td class="sub-caption caption-platforms">d d d</td>
                </tr>
                <tr>
                  <td class="caption pbs">blh</td>
                  <td class="sub-caption">blah</td>
                </tr>
                <tr>
                  <td class="pbs divider" colspan="2"></td>
                </tr>
                <tr>
                  <td class="caption ranking-caption">bla</td>
                  <td class="color-sun-flower ranking">d</td>
                </tr>
              </table>
              <!-- muckup end -->
              <!-- Add to wishlist -->
              <!-- <div class="ad-wishlist text-uppercase pull-left mtl"><a href=""><span class="icon mrm"><i class="fa fa-heart"></i></span><span class="text">Agregar a  mi lista de deseos</span></a></div> -->
            </div>
            <!-- [end] Game details -->
          </div>

          <!-- [start] Tabs menu -->
          <div class="col-md-12 mtm clear-both">
            <ul class="tabs clearfix">
              <li><a href="" ng-click="productTab=1" ng-class="{'active': productTab==1}">{{ads.length}} Juego<span ng-if="ads.length>1">s</span> Disponible<span ng-if="ads.length>1">s</span></a></li>
              <li><a href="" ng-click="productTab=2" ng-class="{'active': productTab==2}">Información y video</a></li>
            </ul>
          </div>
          <!-- [end] Tabs menu-->
        </div>
        <!-- [end] COVER -->

        <!-- TAB 1 content -->
        <div class="tab-content mtm" ng-show="productTab == 1">
          <p ng-if="ads.length > 0">Elige el juego que más te conviene, ya se por precio, estado del juego, plataforma, ubicación o tipo de transacción.</p>
          <p ng-if="ads.length == 0">No hay anuncios para este juego.</p>

          <!-- ADS -->
          <div ng-show="ads.length > 0">
            <div class="table-responsive table-container box-shadow-pretty">
              <table class="table-sellers table">
                <thead>
                  <tr>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Plataforma</th>
                    <th>Ubicación</th>
                    <th class="text-center">Tarjeta</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- REPEAT -->
                  <tr ng-repeat="ad in ads">
                    <td class="seller-price color-belize-hole"><a href="#/ad/{{ad.id}}" class="btn btn-sm btn-danger">{{ad.price | currency:"₡"}}</a></td>
                    <td>{{ad.game_state.name}}</td>
                    <!-- Plataformas -->
                    <td class="seller-consoles"><span class="platform-m mrs">{{ad.console.name}}</span></td>
                    <td class="seller-city">{{ad.user.city}}<span ng-if="ad.user.city">,</span> {{ad.user.state}}</td>
                    <td class="seller-allow-payments text-center"><span ng-show="ad.user.allow_payments"><i class="fa fa-check"></i></span><span ng-show="!ad.user.allow_payments"><i class="fa fa-close"></i></span></td>

                  </tr>
                  <!-- END REPEAT -->
          
                </tbody>
              </table>
            </div>
          </div>
          <!-- END ADS -->
        </div>
        <!-- [end]TAB 1 content -->

        <!-- TAB 2 content -->
        <div class="tab-content mtm" ng-show="productTab == 2">
          <div class="bg-midnight-blue embed-responsive embed-responsive-16by9">
            <game-video video-data="product.video"></game-video>
          </div>
          <!-- Description -->
          <div class="product-description mtl">
            <div class="color-silver subtitle text-uppercase">DESCRIPCIÓN</div>
            <div class="description" ng-bind-html="product.description"> </div>
          </div>
          <!-- Description -->
        </div>
        <!-- [end] TAB 2 content -->
        


      </div>
      <!-- COL RIGHT -->
      <div class="col-md-4">
        <div class="subtitle text-uppercase color-silver mtm mbm">Juegos Similares</div>
        <div class="games-similar">
          <game-box-small ng-repeat="game in otherGames" game-data="game"></game-box-small>
        </div>
      </div>
      <!-- END COL RIGHT -->
    </div>

  </div>
  <!-- END CONTAINER -->

</div>
