<div class="profile-screen container-fluid">
  <div class="container">
    <div class="profile-cont col-md-2">
      <div class="user-perfil">
        <div class="avatar"><img ng-src="{{profile.picture}}"></div>
        <div class="record">
          <div class="progress" title="Reputación">
            <div class="progress-bar" style="width: {{profile.score}}%;"></div>
            <div class="progress-bar progress-bar-danger" style="width: {{100 - profile.score}}%;"></div>
          </div>
        </div>
        <a href="#/profile/{{profile.user_id}}" class="username color-asbestos">{{profile.username}} ({{profile.history_rates}})</a>
        <div class="city">{{profile.city}}<span ng-if="profile.city">,</span>{{profile.state.name}}</div>
      </div>
    </div>
    
    <div class="col-md-10 tabs-pretty">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li ng-class="{'active':tab==1}"><a href="" ng-click="tab=1">Anuncios activos</a></li>
        <li ng-class="{'active':tab==2}"><a href="" ng-click="tab=2">Reputación ({{profile.history_rates}})</a></li>
        <li ng-class="{'active':tab==3}"><a href="" ng-click="tab=3">Lista de deseos</a></li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content box-shadow-pretty">
        <div class="tab-pane" ng-class="{'active':tab==1}"> 
          <div ng-if="ads.length == 0" class="pagination-container-center">
            Este usuario aún no tiene anuncios.
          </div>
          <!-- <game-box-small-profile ng-repeat="ad in ads" game-data="ad"></game-box-small-profile> -->
          <game-box-small-profile ng-repeat="ad in ads" game-data="ad"></game-box-small-profile>
          <div class="pagination-container-center">
            <pagination rotate="false" next-text=">>" previous-text="<<" total-items="psTotalItems" items-per-page="psItemsPerPage" max-size="'10'" page="psActualPage" num-pages="psNumPages" class="pagination-sm" on-select-page="psPageChange(page)" boundary-links="false"></pagination>
          </div>
        </div>
        <div class="tab-pane" ng-class="{'active':tab==2}">
          <div class="table-responsive">
            <div ng-if="history_rates.length == 0" class="pagination-container-center">
              Este usuario aún no tiene calificaciones.
            </div>
            <table class="table"  ng-if="history_rates.length > 0">
                <thead>
                  <tr>
                    <th>Puntuación</th>
                    <th>Comentario</th>
                    <th>Fecha</th>
                  </tr>
                </thead>
                <tbody>
                <!-- REPEAT -->
                  <tr ng-repeat="history_rate in history_rates">
                    <td class="star-status">
                      <user-rating state="history_rate.score" active-rating="off"></user-rating>
                    </td>
                    <td><span class="label label-success" ng-if="history_rate.rate_type == 1">Venta</span><span class="label label-info" ng-if="history_rate.rate_type == 2">Compra</span> {{history_rate.comment}} </td>
    
                    <td class="date color-asbestos">{{history_rate.updated_at | date:'short'}}</td>
                  </tr>
                  <!-- END REPEAT -->
                </tbody>
              </table>
              <div class="pagination-container-center">
                <pagination rotate="false" next-text=">>" previous-text="<<" total-items="phTotalItems" items-per-page="phItemsPerPage" max-size="'10'" page="phActualPage" num-pages="phNumPages" class="pagination-sm" on-select-page="phPageChange(page)" boundary-links="false"></pagination>
              </div>
          </div>
        </div>
        <div class="tab-pane" ng-class="{'active':tab==3}">
          <div class="table-responsive">
            <div ng-if="wishlists.length == 0" class="pagination-container-center">
              Lista de deseos vacía
            </div>
            <table class="table">
                <tbody>
                  <tr ng-repeat="wishlist in wishlists">
                    <td  width="70px" ><img ng-src="{{wishlist.game.thumbnail}}" width="50px" alt=""></td>
                    <td class="wishlist-row"><a href="#/product/{{wishlist.game.id}}">{{wishlist.game.title}}</a></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
