<div class="purchase-screen">
  <div class="container">
    <div class="row">
      <account-tabs active-tab="purchase"></account-tabs>
      <div class="col-md-12">
        <div class="tab-content box-shadow-pretty">
          <div class="col-md-12">
            <div class="table-responsive">
              <div ng-if="ads.length == 0" class="pagination-container-center">
                <br>No has comprado ningun articulo aún. Empieza a comprar haciendo <a href="#/">click aquí</a> 
              </div>
              <table>
                <tbody>
                  <!-- REPEAT -->
                  <tr ng-repeat="ad in ads">
                    <td class="game-image">
                      <img ng-src="{{ad.ad.game.thumbnail}}">
                    </td>
                    <td class="game-details">
                      <div class="game-title"><a href="#/ad/{{ad.ad.id}}">{{ad.ad.game.name}}</a></div>
                      <div class="game-price color-turquoise">{{ad.ad.price | currency:"₡" }}</div>
                      <div class="minor-details">
                        <a ng-show="ad.invoice.length > 0" href="#/order-detail/{{ad.invoice[0].id}}" class="label label-default mrs link-invoice bg-silver">ver recibo</a> <span class="game-id">ID: #{{ad.ad.id}}</span> <span class="game-views"><span class="fui-eye" title="Vistas"></span> {{ad.ad.views}}</span> <span class="game-date"><span class="fui-time" title="Fecha de publicación"></span> {{ad.ad.created_at | date:'medium'}}</span>
                      </div>
                    </td>
                    <td>
        
                    </td>
                    <td class="game-config">
                      <div ng-if="ad.user_rate.score > 0">
                        <div class="user-rating">
                          <div class="text"><a href="#/profile/{{ad.ad.user.user_id}}">{{ad.ad.user.username}}</a></div>
                          <user-rating state="ad.user_rate.score"  active-rating="off"></user-rating>
                          <a href="" ng-click="showSellerData(ad)">Datos del vendedor</a>
                        </div>
                      </div>
                      <div ng-if="!ad.user_rate.score">
                        <div class="user-rating">
                          <div class="text">Calificar al vendedor <a href="#/profile/{{ad.ad.user.user_id}}">{{ad.ad.user.username}}</a></div>
                          <user-rating state="tempRates[$index]" extra-data="ad.user_rate" on-change="rateUser" active-rating="on"></user-rating>
                          <a href="" ng-click="showSellerData(ad)">Datos del vendedor</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <!-- END REPEAT -->
                </tbody>
              </table>
              <div class="pagination-container-center">
                <pagination rotate="false" next-text=">>" previous-text="<<" total-items="pTotalItems" items-per-page="pItemsPerPage" max-size="'10'" page="pActualPage" num-pages="pNumPages" class="pagination-sm" on-select-page="pPageChange(page)" boundary-links="false"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="rateUserModal">
  <div class="modal-header">
    <h6>Calificar al Vendedor</h6>
  </div>
  <div class="modal-body">
    <div class="row">

      <div class="col-md-12">

        <div class="form-field" ng-class="{'form-group has-error':validation.rateComment}">
          <input type="text" class="form-control" ng-model="$parent.rateComment" placeholder="Agrega un comentario a la calificación">
          <p style="font-size:12px;">La calificación solo será almacenada si agregas un comentario</p>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="rateUser()">Calificar</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>