<div class="nooxr-register-screen">
  <div class="pretty-header">
    <h1>Registrarse</h1>
    <span>¡Registrate y vendé todos los juegos que ya no usas!</span>
  </div>
  <div class="container ptl">
    <div class="row mtl">
      <!-- col form -->
      <div class="col-md-6 col-xs-6 clearfix col-left">
        <form ng-submit="normalLogin()">
          <div class="form-field mbl" ng-class="{'form-group has-error':validation.username}">
            <input type="text" class="form-control has-error" ng-model="user.username" placeholder="Nombre de usuario" autocorrect="off" autocapitalize="off">
            <span class="help-block" ng-if="validation.usernameReason=='inuse'">Nombre de usuario en uso.</span>
            <span class="help-block" ng-if="validation.usernameReason=='invalid'">Username inválido sólo puedes usar letras, numeros, "_" y "." Además tiene que tener al menos 3 caracteres.</span>
            <span class="help-block" ng-if="validation.usernameReason=='notallow'">Este nombre de usuario no esta permitido.</span>
          </div>
          <div class="form-field mbl" ng-class="{'form-group has-error':validation.email}">
            <input type="email" ng-disabled="facebookLogged" class="form-control" ng-model="user.email" placeholder="Correo">
            <span class="help-block" ng-if="validation.emailReason=='inuse'">Correo en uso. Haz <a href="#/login"> click aquí</a> para ingresar
            </span>
            <span class="help-block" ng-if="validation.emailReason=='invalid'">Correo inválido</span>
          </div>
          <div class="form-field mbl" ng-class="{'form-group has-error':validation.password}">
            <input type="password" class="form-control" ng-model="user.password" placeholder="Contraseña">
            <span class="help-block" ng-if="validation.password">Las contraseñas no coinciden.</span>
          </div>
          <div class="form-field mbl" ng-class="{'form-group has-error':validation.passConfirm}">
            <input type="password" class="form-control" ng-model="user.passConfirm" placeholder="Confirma contraseña">
          </div>
          <div class="form-field mbl" ng-class="{'form-group has-error':validation.phone}">
            <input type="tel" class="form-control" ng-model="user.phone" placeholder="Teléfono">
          </div>
          <div class="form-field mbl form-group">
            <input type="text" disabled class="form-control" value="{{country.name}}" placeholder="{{country.name}}">
            <span class="help-block help-block-small">Por el momento solo está disponible para Costa Rica.</span>
          </div>
          <div class="form-field mbl" ng-class="{'form-group has-error':validation.state_id}">
            <div class="select-n">
              <select class="form-control" ng-options="state.name for state in country.states track by state.state_id"  ng-model="user.state" ng-change="stateSelected()">
                <option value="" disabled="disabled">Provincia</option>
              </select>
            </div>
          </div>
          <div class="form-field mbs help-block help-block-small">
            Al dar click en "registrarme" acepto los <a href="#/terms">términos y condiciones</a>  de Nooxr.
          </div>
          <div class="form-field mbs">
            <button class="btn btn-sm btn-primary text-uppercase btn-register" ng-click="registerUser()" ng-class="{'disabled':disabledBtn}">Registrarme</button>
          </div>

        </form>
      </div>
      <!-- [end] col form -->

      <!-- col fb -->
      <div class="col-md-6 col-xs-6 clearfix col-right">
        <div ng-show="facebookLogged==false" class="clearfix">
          <a href="" class="btn btn-facebook col-xs-12 col-sm-9" ng-click="facebookLogin()"> <i class="fa fa-facebook-square"></i> Vincula tu cuenta con facebook </a>
          <div class="help-block help-block-lg mtm col-sm-12 row last-col">Rellena algunos campos con Facebook, también tu cuenta estará ligada para que inicies sesión con Facebook una vez registrado.</div>
        </div>
        <div class="todo-cont clearfix" ng-show="facebookLogged==true">
          <h4>¡Listo!</h4>
          <h6 class="color-midnight-blue">Ahora solo faltan estos datos:</h6>
          <ul class="todo-list last-col color-asbestos">
            <li><i class="fa fa-circle-o" ng-hide="user.username"></i><i class="fa fa-check-circle color-turquoise" ng-show="user.username"></i> Nombre de usuario</li>
            <li><i class="fa fa-circle-o" ng-show="!user.password || !user.passConfirm || user.password != user.passConfirm"></i><i class="fa fa-check-circle color-turquoise" ng-hide="!user.password || !user.passConfirm || user.password != user.passConfirm"></i> Contraseña</li>
            <li><i class="fa fa-circle-o" ng-hide="user.phone"></i><i class="fa fa-check-circle color-turquoise" ng-show="user.phone"></i> Teléfono</li>
            <li><i class="fa fa-circle-o" ng-hide="user.state_id"></i><i class="fa fa-check-circle color-turquoise" ng-show="user.state_id"></i> Provincia</li>
          </ul>
        </div>
      </div>
      <!-- [end] col fb -->
      <div class="col-md-12 col-xs-12 clearfix text-center help-block help-block-last">
        Ya eres miembro? <a href="#/login">Ingresa ya!</a>
      </div>
    </div>
  </div>
</div>