<div class="normal-page">
  <div class="container">
    <h4>Términos y condiciones de uso de Nooxr</h4>
    
    <p><i>Versión vigente a partir del 24 de marzo, 2014</i></p>
    
    <p>Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por Nooxr Costa Rica, ("los Servicios") dentro del sitio cr.nooxr.com y nooxr.co.cr ("Nooxr" o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen Nooxr y que son incorporados al presente por referencia.</p>
    
    <p><b>CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.</b></p>
    
    <p>El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por referencia, previo a su registración como Usuario de Nooxr.</p>
    
    <hr />
    
    <h5>01 - Capacidad</h5>
    
    <p>No podrán utilizar los servicios los Usuarios de Nooxr que hayan sido suspendidos temporalmente o inhabilitados definitivamente. El registro debe realizarse en representación de una persona física.</p>
    
    <p>Si desea realizar la inscripción de una persona jurídica debe ponerse en contacto con los administradores de la página mediante la sección “Contáctenos” para adquirir alguno de los servicios que vendemos para empresas.</p>
    
    <h5>02 - Registro</h5>
    <p>Es obligatorio completar el formulario de registro en todos sus campos con datos válidos para poder utilizar los servicios que brinda Nooxr. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. Nooxr podrá utilizar diversos medios para identificar a sus Usuarios, pero Nooxr NO se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.</p>
    
    <p>Nooxr se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja todos los artículos publicados, así como las ofertas realizadas y recibidas, sin que ello genere algún derecho a resarcimiento.</p>
    
    <p>El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su correo electrónico y clave de seguridad personal elegida ("Contraseña"). El Usuario esta obligado a mantener la confidencialidad de su Clave de Seguridad.</p>
    
    <p>La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una Cuenta. En caso que Nooxr detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.</p>
    
    <p>El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a Nooxr en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta (incluyendo la reputación y calificaciones) bajo ningún título.</p>
    
    <p>Nooxr se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.</p>
    
    <hr />
    
    <h5>03 - Modificaciones del Acuerdo</h5>
    
    <p>Nooxr podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar por e-mail si no acepta las mismas; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Usuario siempre que no tenga deudas pendientes. Vencido este plazo, se considerará que el Usuario acepta los nuevos términos y el contrato continuará vinculando a ambas partes.</p>
    
    <hr />
    
    <h5>04 - Listado de Bienes</h5>
    
    <h6>4.1 Publicación de bienes y/o servicios.</h6>
    
    <p>El Usuario deberá ofrecer a la venta, los bienes y/o servicios en las categorías y subcategorías apropiadas. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la venta del bien o la contratación del servicio, siempre que no violen ninguna disposición de este acuerdo o demás políticas de Nooxr, ni contengan ofensas de ningún tipo. El producto ofrecido por el Usuario Vendedor debe ser exactamente descrito en cuanto a sus condiciones y características relevantes. Se entiende y presume que mediante la inclusión del bien o servicio en Nooxr, el Usuario acepta que tiene la intención y el derecho de vender el bien por él ofrecido, o está facultado para ello por su titular y lo tiene disponible para su entrega inmediata. Se establece que los precios de los productos publicados deberán ser expresados con IVA incluido cuando corresponda la aplicación del mismo, y en moneda del curso legal. Nooxr podrá remover cualquier publicación cuyo precio no sea expresado de esta forma para evitar confusiones o malentendidos en cuanto al precio final del producto. Se deja expresamente establecido que ninguna descripción podrá contener direcciones de páginas de Internet que contengan servicios similares a Nooxr o empresas que representen algún tipo de competencia. No podrá publicitarse otros medios de pagos, distintos de los enunciados por Nooxr en la página de publicación de artículos. En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, Nooxr podrá editar el espacio, solicitar al Usuario que lo edite, o dar de baja la publicación donde se encuentre la infracción y en ningún caso se devolverán o bonificarán los cargos de publicación.</p>
    
    <h6>4.2 Artículos Prohibidos.</h6>
    
    <p>Sólo podrán ser ingresados en las listas de bienes y/o servicios ofrecidos, aquellos cuya venta no se encuentre tácita o expresamente prohibida en los Términos y Condiciones Generales y demás políticas de Nooxr o por la ley vigente del país donde se encuentra el vendedor y donde se encuentra el comprador.</p>
    
    <h6>4.3. Protección de Propiedad Intelectual.</h6>
    
    <p>En caso que Nooxr sospeche que se está cometiendo o se ha cometido una actividad ilícita o infractora de derechos de propiedad intelectual o industrial, Nooxr se reserva el derecho de adoptar todas las medidas que entienda adecuadas.</p>
    
    <h5>05 - Privacidad de la Información</h5>
    
    <p>Para utilizar los Servicios ofrecidos por Nooxr, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica.</p> 
    
    <h5>06 - Obligaciones de los Usuarios</h5>
    
    <h6>6.1 Obligaciones del Comprador. </h6>
    
    <p>Durante el plazo fijado por el Usuario Vendedor, los Usuarios interesados realizarán ofertas de compra para los bienes y ofertas de contratación para los servicios. La oferta de venta se cierra una vez que vence el plazo, se acaban las cantidades estipuladas por el Vendedor o el Vendedor acepta una oferta realizada por un Comprador, y la oferta de contratación del servicio culmina con el vencimiento del plazo de la publicación.</p>
    
    <p>El Comprador está obligado a intentar comunicarse con el vendedor y completar la operación si ha realizado una oferta por un artículo publicado bajo la modalidad de "compra inmediata" o si realizó la oferta de más interés para el Vendedor, en los casos en que esta modalidad esté permitida, salvo que la operación esté prohibida por la ley o los Términos y Condiciones Generales y demás políticas de Nooxr, en cuyo caso no estará obligado a concretar la operación. </p>
    
    <p>Al ofertar por un artículo el Usuario acepta quedar obligado por las condiciones de venta incluidas en la descripción del artículo en la medida en que las mismas no infrinjan las leyes o los Términos y Condiciones Generales y demás políticas de Nooxr. La oferta de compra es irrevocable salvo en circunstancias excepcionales, tales como que el vendedor cambie sustancialmente la descripción del artículo después de realizada alguna oferta, que exista un claro error tipográfico, o que no pueda verificar la identidad del vendedor. </p>
    
    <p>Las ofertas de compra sólo serán consideradas válidas, una vez que hayan sido procesadas por el sistema informático de Nooxr. </p>
    
    <p>Impuestos. Tal como lo establece la normativa fiscal vigente, el comprador debe exigir factura o ticket al vendedor como comprobante de la operación. El vendedor no estará obligado a emitir factura o ticket sólo en el caso de tratarse de una persona física que efectúa ventas ocasionalmente. </p>
    
    <h6>6.2. Obligaciones del Vendedor. </h6>
    
    <p>El Usuario Vendedor debe tener capacidad legal para vender el bien objeto de su oferta. </p>
    
    <p>Si el Usuario Vendedor ha recibido al menos una oferta sobre el precio mínimo que estableció o si acepta una de las ofertas que le realizó algún Comprador, queda obligado a intentar comunicarse con el comprador y completar la operación. Solamente en casos excepcionales el Vendedor podrá retractarse de la venta, tales como cuando no haya podido acordar con el Usuario Comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del Comprador.</p> 
    
    <p>Dado que Nooxr es un punto de encuentro entre comprador y vendedor y no participa de las operaciones que se realizan entre ellos, el Vendedor será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de sus artículos, sin que pudiera imputársele a Nooxr algún tipo de responsabilidad por incumplimientos en tal sentido. </p>
    
    <p>Cuando el Vendedor haya recibido una oferta en un artículo por él publicado, deberá calificar a la contraparte de acuerdo a lo establecido en la Clausula 14 de estos Términos y Condiciones Generales.</p> 
    
    <p>Impuestos. Como se menciona anteriormente, Nooxr sólo pone a disposición de los Usuarios un espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o comprar artículos y/o servicios. Nooxr no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por eso, Nooxr no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente. </p>
    
    <h5>07 - Prohibiciones</h5>
    
    <p>Los Usuarios no podrán: </p>
    
    <ol>
      <li>manipular los precios de los artículos;</li>
      <li>interferir en la puja entre distintos Usuarios;</li>
      <li>publicar o vender artículos prohibidos por los Términos y Condiciones Generales, demás políticas de Nooxr o leyes vigentes; </li>
      <li>insultar o agredir a otros Usuarios; </li>
      <li>utilizar su reputación, calificaciones, comentarios o réplicas recibidas en el sitio de Nooxr en cualquier ámbito fuera de Nooxr.</li>
      <li>publicar spam</li>
      <li>poner enlaces a sitios externos que no hayan sido autorizados por Nooxr.</li>
      <li>hacerse pasar por representantes de Nooxr.</li>
  </ol>
  
  <p>Este tipo de actividades será investigado por Nooxr y el infractor podrá ser sancionado con la suspensión o cancelación de la oferta e incluso de su registración como Usuario de Nooxr y/o de cualquier otra forma que estime pertinente, sin perjuicio de las acciones legales a que pueda dar lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a los Usuarios oferentes.</p>
  
  <h5>08 - Violaciones del Sistema o Bases de Datos</h5>
  
  <p>No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de Nooxr como en las ofertas, descripciones, cuentas o bases de datos de Nooxr. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.</p>
  
  <h5>09 - Sanciones. Suspensión de operaciones</h5>
  
  <p>Sin perjuicio de otras medidas, Nooxr podrá advertir, suspender en forma temporal o inhabilitar definitivamente la Cuenta de un Usuario o una publicación, aplicar una sanción que impacte negativamente en la reputación de un Usuario, iniciar las acciones que estime pertinentes y/o suspender la prestación de sus Servicios si (a) se quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de Nooxr; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriere a criterio de Nooxr en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad del Usuario o cualquier información proporcionada por el mismo fuere errónea; (e) Nooxr entendiera que las publicaciones u otras acciones pueden ser causa de responsabilidad para el Usuario que las publicó, para Nooxr o para los Usuarios. En el caso de la suspensión o inhabilitación de un Usuario, todos los artículos que tuviera publicados serán removidos del sistema y en ningún caso se devolverán o bonificarán los cargos de publicación involucrados. También se removerán del sistema las ofertas de compra de bienes ofrecidos en subasta.</p>
  
  <h5>10 - Responsabilidad</h5>
  
  <p>Nooxr sólo pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación mediante Internet para encontrar una forma de vender o comprar servicios o bienes. Nooxr no es el propietario de los artículos ofrecidos, no tiene posesión de ellos ni los ofrece en venta. Nooxr no interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios ni en las condiciones por ellos estipuladas para las mismas, por ello no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la capacidad para contratar de los Usuarios o de la veracidad de los Datos Personales por ellos ingresados. Cada Usuario conoce y acepta ser el exclusivo responsable por los artículos que publica para su venta y por las ofertas y/o compras que realiza. </p>
  
  <p>Debido a que Nooxr no tiene ninguna participación durante todo el tiempo en que el artículo se publica para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. En ningún caso Nooxr será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por artículos publicados a través de Nooxr. </p>
  
  <p>Nooxr recomienda actuar con prudencia y sentido común al momento de realizar operaciones con otros Usuarios. El Usuario debe tener presentes, además, los riesgos de contratar con menores o con personas que se valgan de una identidad falsa. Nooxr NO será responsable por la realización de ofertas y/o operaciones con otros Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por Nooxr. </p>
  
  <p>En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda responsabilidad a Nooxr y a sus directores, gerentes, empleados, agentes, operarios, representantes y apoderados.</p>
  
  <h5>11 - Alcance de los servicios de Nooxr</h5>
  
  <p>Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre Nooxr y el Usuario. El Usuario reconoce y acepta que Nooxr no es parte en ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los artículos anunciados, la veracidad o exactitud de los anuncios, la capacidad de los Usuarios para vender o comprar artículos. Nooxr no puede asegurar que un Usuario completará una operación ni podrá verificar la identidad o Datos Personales ingresados por los Usuarios. Nooxr no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que el Usuario celebre con dichos terceros o con otros Usuarios.</p>
  
  <h5>12 - Fallas en el sistema</h5>
  
  <p>Nooxr no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor o en Internet. Nooxr tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Nooxr no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a Nooxr; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. Nooxr no será responsable por ningún error u omisión contenidos en su sitio web.</p>
  
  <h5>13 - Tarifas. Facturación</h5>
  
  <p>La registración en Nooxr es gratuita. </p>
  
  <p>El Usuario se obliga a abonar a Nooxr la Tarifa, los cargos por publicación o por cualquier otro servicio prestado por Nooxr por el cual haya establecida una tarifa vigente. </p>
  
  <p>Nooxr se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será notificado a los Usuarios, en la forma establecida en la Cláusula 3.</p>
  
  <p>Sin embargo, Nooxr podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando se haga pública la promoción o se realice el anuncio. </p>
  
  <p>Nooxr se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido. </p>
  
  <p>En caso de haberse facturado cargos que no hubiesen correspondido, el Usuario deberá comunicarse con nuestro equipo de Atención al Cliente para resolver dicha cuestión.</p>
  
  <h5>14 - Sistema de reputación</h5>
  
  <p>Debido a que la verificación de la identidad de los Usuarios en Internet es difícil, Nooxr no puede confirmar ni confirma la identidad pretendida de cada Usuario. Por ello el Usuario cuenta con un sistema de reputación de Usuarios que es actualizado periódicamente en base a datos vinculados con su actividad en el sitio y a los comentarios ingresados por los Usuarios según las operaciones que hayan realizado. Tanto aquellos Usuarios que hayan resultado ganadores de una oferta como el vendedor deberán ingresar una calificación informando acerca de la concreción o no de la operación; también podrán ingresar un comentario si así lo desean. Este sistema de reputación, además constará de un espacio donde los Usuarios podrán hacer comentarios y réplicas a las calificaciones recibidas y acceder a los mismos. Dichos comentarios serán incluidos bajo exclusiva responsabilidad de los Usuarios que los emitan. </p>
  
  <p>En virtud que las calificaciones, comentarios y réplicas son realizados por los Usuarios, éstos serán incluidos bajo exclusiva responsabilidad de los Usuarios que los emitan. Nooxr no tiene obligación de verificar la veracidad o exactitud de los mismos y NO se responsabiliza por los dichos allí vertidos por cualquier Usuario, por las ofertas de compras o ventas que los Usuarios realicen teniéndolos en cuenta o por la confianza depositada en las calificaciones de la contraparte o por cualquier otro comentario expresado dentro del sitio o a través de cualquier otro medio, incluido el correo electrónico. Nooxr se reserva el derecho de eliminar aquellos comentarios que sean considerados inadecuados u ofensivos. Nooxr mantiene el derecho de excluir a aquellos Usuarios que sean objeto de comentarios negativos provenientes de fuentes distintas. </p>
  
  <h5>15 - Propiedad intelectual. Enlaces</h5>
  
  <p>Los contenidos de las pantallas relativas a los servicios de Nooxr como así también los programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de Nooxr y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de Nooxr. </p>
  
  <p>El Sitio puede contener enlaces a otros sitios web lo cual no indica que sean propiedad u operados por Nooxr. En virtud que Nooxr no tiene control sobre tales sitios, NO será responsable por los contenidos, materiales, acciones y/o servicios prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de Nooxr a dichos sitios y sus contenidos.</p>
  
  <h5>16 - Indemnización</h5>
  
  <p>El Usuario indemnizará y mantendrá indemne a Nooxr, sus filiales, empresas controladas y/o controlantes, directivos, administradores, representantes y empleados, por cualquier reclamo o demanda de otros Usuarios o terceros por sus actividades en el Sitio o por su incumplimiento los Términos y Condiciones Generales y demás Políticas que se entienden incorporadas al presente o por la violación de cualesquiera leyes o derechos de terceros, incluyendo los honorarios de abogados en una cantidad razonable.</p>
  
  <h5>17 - Jurisdicción y Ley Aplicable</h5>
  
  <p>Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República de Costa Rica.</p>
  
  <p>Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a los tribunales competentes de la ciudad de San José, Costa Rica.</p>
</div>
</div>