<div class="container">
  <div class="normal-page">
    <h6>Pagar</h6>
    <p>Luego de elegir el artículo y el vendedor, te recomendamos:</p>
    <ul>
      <li>Evita usar servicios de transferencia de dinero que no permitan verificar la identidad de tu contraparte.</li>
      <li>Asegúrate de que el titular de la cuenta bancaria en la que vayas a depositar coincida con los datos de contacto del vendedor.</li>
      <li>Guarda los comprobantes de pago.</li>
    </ul>
    <h6>Recibir</h6>
    <p>A la hora de planificar el intercambio, te sugerimos:</p>
    <ul>
      <li>Si eliges que te envíen el producto por correo, pídele al vendedor un código de seguimiento para poder acompañar el envío.</li>
      <li>Si lo vas a retirar, encuéntrate con el vendedor en un lugar público y concurrido, como una plaza o un centro comercial.</li>
      <li>
        Toma las mismas precauciones que tomarías en cualquier otra compra, revisando:
        <ul>
          <li>Que el producto esté en buenas condiciones.</li>
          <li>Que sea exactamente lo que hayas ofertado.</li>
          <li>Que no le falten partes.</li>
          <li>Y todo lo que necesites saber antes de comprar.</li>
        </ul>
      </li>
    </ul>    
  </div>
</div>