<div class="nooxr-tradeins-screen">
  <div class="container">
    <div class="normal-page clearfix">
      <div class="col-md-12">
        <div ng-if="tradeins.length == 0" class="pagination-container-center">
          <br>No tienes ninguna venta.  ¿Te gustaría cambiar tus juegos por creditos? <a href="#/tradein">Haz click aquí</a> 
        </div>
        <table ng-if="tradeins.length > 0" class="table" >
          <thead>
            <tr class="tradein" >
              <th>Juego</th>
              <th>Precio</th>
              <th>Estado</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody >
            <tr class="tradein" ng-repeat="trandein in tradeins">
              <td><a href="" ng-click="showDetail(trandein)">{{trandein.name}}</a></td>
              <td>₡ {{trandein.price | number:2}}</td>
              <td> <span class="label ng-scope " ng-class="{'label-success':trandein.step.id == 3,'label-danger':trandein.step.id == 4, 'label-info': trandein.step.id < 3}"> {{trandein.step.name}} </span></td>
              <td class="date color-asbestos"><small>{{trandein.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}</small></td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-container-center">
          <pagination rotate="false" next-text=">>" items-per-page="pItemsPerPage" max-size="'10'"  previous-text="<<" total-items="pTotalItems" page="pActualPage" num-pages="pNumPages" class="pagination-sm" on-select-page="pPageChange(page)" boundary-links="false"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>