<div class="mtl clearfix">
  <h6 class="text-center">¿Ya no necesitas tus juegos?</h6>
</div>
<p class="text-center color-asbestos">¡Muy pronto podrás canjear tus juegos por créditos de Nooxr para que puedas comprar otros juegos dentro de nuestra página!</p>
