<div class="tradein-screen">

  <div class="container">
    <div  ng-if="!logedUser">
      <p class="small">Tienes que <a href="" ng-click="logIn('tradein')">ingresar</a> o <a href="#/register">registrarte</a> para cambiar juegos por créditos</p>
    </div>
    
    <!-- TradeIn - Bar code -->
    <div class="row search-barcode clearfix text-center" ng-show="actualStep == 1 && logedUser">
      <h5>¡Nosotros te compramos tu juego!</h5>
      <h6>Ingresá el código de barras del juego que deseas vendernos.</h6>
      <form class="col-sm-6 col-xs-12" ng-submit="searchCodeBar()">
        <div class="form-field" ng-class="{'form-group has-error':validation.barcode}">
          <input type="text" placeholder="CODIGO DE BARRAS" class="form-control" ng-model="tradeIn.barcode">
        </div>
        <input type="submit" class="btn btn-embossed btn-info col-sm-4 col-xs-12" value="Buscar">
      </form>
    </div>
    
    
    
    <!-- TradeIn - Game -->
    <div class="row" ng-show="actualStep == 2 && logedUser">
      <div class="col-sm-8 game-datails">
        <h4 class="text-center">{{tradeIn.name}}</h4>
        <h6 class="text-center color-asbestos">{{tradeIn.console}}</h6>
        <div class="col-sm-8 center-block no-float col-xs-12">
          ¿En qué condicion se encuentra?
          <div class="game-status">
            <input type="text" nx-slider slider-value="tradeIn.state">
          </div>
          
          <div class="col-sm-12">
            
            <label class="checkbox" ng-click="togglePass()" for="has-pass" id="tempFixCheckbox_passCode">
              <input type="checkbox" ng-checked="ad.auto_accept" id="has-pass" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
              El juego todavía tiene "Pass Code" para jugar en internet
            </label>
    
          </div>
    
          <div class="col-sm-6">
            <div class="quantity-text">Cantidad de créditos a recibir</div>
          </div>
    
          <div class="col-sm-6">
            <div class="price">₡ {{tradeIn.price}}</div>
          </div>
    
          <div class="col-sm-12">
            Comentarios Adicionales:
            <textarea ng-model="tradeIn.comments" class="form-control"></textarea>
          </div>
    
    
          <div class="col-sm-8 col-sm-offset-2" ng-show="tradeIn.price > 0">
            <button class="btn btn-embossed btn-primary" ng-click="createTrade()">Vender</button>
          </div>
          <div class="col-sm-8" ng-show="tradeIn.price == 0">
            <p>No podemos recibir juegos valorados en 0 colones</p>
          </div>
    
        </div>
        <div class="col-sm-8 attention color-concrete">
          Atención: Los creditos son acreditados a tu cuenta una vez que recibimos el juego y confirmemos el estado del mismo. El monto solo podrá ser utilizado como parte de otra compra en este sitio web. 
    
          Al hacer click en Vender aceptas nuestro <a href="#/terms" target="_blank">terminos y condiciones</a>
        </div>
      </div>
    </div>
    
    <!-- TradeIn Game - Page 2 -->
    <div class="row" ng-show="actualStep == 3 && logedUser">
      <div class="col-sm-12 text-center game-code">
        <h4>{{tradeInData.name}}</h4>
        <small>Código de entrega:</small>
        <h4 class="color-turquoise code-number">{{tradeInData.delivery_code}}</h4>
        <div class="col-sm-8 caption text-left col-sm-offset-3">
          <span class="text-danger"><i class="fa fa-warning"></i> Recuerda imprimir el codigo de entrega o escribirlo en un papel y agregarlo dentro de la caja del juego. Esto es sumamente importante.</span> 
    
        <p><small>Puedes venir a dejarnos el juego a nuestras oficinas o enviarlo por correo a la siguiente direccion:</small> </p>
          <address>
          <strong>Diagonal al Boliche Dent, San Pedro.</strong><br>
          Horario: lunes-viernes de 9am a 5pm<br>
          Los juegos son procesados entre 2 a 5 dias habiles
        </address>
    
        </div>
        <button class="btn btn-embossed btn-primary" ng-click="resetTrade()">Vender otro Juego</button>
      </div>
    </div>
  </div>
</div>