<div class="page-transactions">
  <div class="container">
    <div class="row normal-page clearfix">
      <div class="col-md-12">
        <div class="pull-right your-credits border-radius pal mtl mbl text-center col-md-2 col-sm-3 col-xs-12"><small class="color-silver"><strong>Tus creditos</strong></small> <div class="price">
          <strong>₡{{activeUser.credits | number:2 }}</strong>
        </div></div>
        <div ng-if="transactions.length == 0" class="pagination-container-center table-transactions">
          <br>No tienes ninguna transacción.  ¿Te gustaría cambiar tus juegos por creditos? <a href="#/tradein">Haz click aquí</a> 
        </div>
        <div class="table-responsive">
          <table ng-if="transactions.length > 0" class="table table-striped table-transactions">
            <thead>
              <tr>
                <th></th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr class="transaction" ng-repeat="transaction in transactions">
                <td><span class="label  ng-scope" ng-class="{'label-danger':transaction.type.id==3, 'label-info':transaction.type.id!=3}" >{{transaction.type.name}}</span></td>
                <td>{{transaction.description}}</td>
                <td ng-class="{'text-danger':transaction.type.id==3}">₡{{transaction.amount | number:2 }}</td>
                <td class="date color-asbestos">{{transaction.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-container-center">
          <pagination rotate="false" next-text=">>" items-per-page="pItemsPerPage" max-size="'10'"  previous-text="<<" total-items="pTotalItems" page="pActualPage" num-pages="pNumPages" class="pagination-sm" on-select-page="pPageChange(page)" boundary-links="false"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>