<div class="wishlist-screen">
  <div class="container">
    <div class="row">
      <div class="clearfix">
        <account-tabs active-tab="wishlist"></account-tabs>
      </div>
      <div class="alert alert-warning" ng-show="flashMsg">
       <span>{{flashMsg}}</span>
     </div>
     <div class="clearfix col-md-12">
       <div class="box-shadow-pretty clearfix">
         <div class="col-md-8 col-md-offset-2">
          <legend>Agregar Juego</legend>
          <div  ng-hide="nolist" class="form-field nooxr-big-search">
            <div class="select2-container form-control select select-default">
              <input ui-select2="selectGame" ng-model="addGame.id" placeholder="Nombre del juego" >
            </div>
            <span class="help-block">¿No aparece tu juego? haz <a ng-click="nolist=true" href=""> click aquí </a> para agregar manualmente</span>
          </div>
          <div ng-show="nolist" class="form-field">
            <input type="text" class="form-control" ng-model="addGame.name" ui-keypress="{enter: addGameWithName}"   placeholder="Nombre del juego">
            
            <p class="small margin-top"> <i class="fa fa-exclamation-triangle"></i>Tu juego será incluido e indexado en un maximo de 72 horas</p>
            
            <span class="help-block">Haz <a ng-click="nolist=false" href=""> click aquí </a> para buscar en juegos indexados</span>
          </div>
          <legend>Lista de deseos</legend>
          <div>
            <table class="table table-hover wishlist">
              <tbody>
                <tr ng-repeat="game in wishlist">
                  <td><img ng-src="{{game.game.thumbnail}}" alt=""></td>
                  <td><a href="#/product/{{game.game.id}}">{{game.game.title}}</a></td>
                  <td><a href="" ng-click="removeGame(game.id,$index)"><i class="fa fa-trash-o"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
               </div>
       </div>
    </div>
  </div>
</div>
</div>