<html>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">Hola {{username}}!</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">Tienes una nueva oferta para el juego {{juegoname}}</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">{{Oferta}}</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">Ingresa a nooxr.com para contestarla.</span></p>
    <p class="p3">
      <span style="font-family:arial,helvetica,sans-serif;">Saludos,&nbsp;</span></p>
    <p class="p4">
      <span style="font-family:arial,helvetica,sans-serif;">El equipo de nooxr.com</span></p>
</html>