<html>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">Hola {{username}}!</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">El vendedor del juego {{juego}} contest&oacute; a tu oferta:</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">{{Contestaci&oacute;n}}</span></p>
    <p class="p2">
      <span style="font-family: arial, helvetica, sans-serif;">Ingresa a nooxr.com para mejorar tu oferta.</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">Saludos,</span></p>
    <p class="p1">
      <span style="font-family:arial,helvetica,sans-serif;">El equipo de nooxr.com</span></p>
</html>