<html>
<p>
      <span style="font-family:arial,helvetica,sans-serif;">Hola {{username}},</span></p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;">Para resetear tu contrase&ntilde;a haz click en el siguiente link:</span></p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;"><a href="http://nooxr.com/#/passchange/{{conf_id}}">http://nooxr.com/#/passchange/{{conf_id}}</a></span></p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;">Si tienes alguna duda cont&aacute;ctanos a info@nooxr.com, o al tel&eacute;fono +(506) 2000 2000</span></p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;">Saludos Cordiales,</span></p>
    <p>
      <span style="font-family:arial,helvetica,sans-serif;">El equipo de Nooxr.com</span></p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>
</html>