<html>
  <p class="p1">
    <span style="font-family: arial, helvetica, sans-serif;">Hola, acaban de publicar el juego &nbsp;{{juego}} &nbsp;a solo {{precio}} colones</span></p>
  <p class="p2">
    <span style="font-family: arial, helvetica, sans-serif;">Ingresa a <a href="http://nooxr.com/#/ad/{{ad.id}}">http://nooxr.com/#/ad/{{ad.id}}</a>&nbsp;para crear una oferta. Date prisa para que no lo compre otro usuario.</span></p>
  <p class="p1">
    <span style="font-family:arial,helvetica,sans-serif;">Saludos,</span></p>
  <p class="p1">
    <span style="font-family:arial,helvetica,sans-serif;">El equipo de nooxr.com</span></p>
</html>