<html>
  <p class="p1">
    <span style="font-family:arial,helvetica,sans-serif;">Hola {{username}},</span></p>
  <p class="p1">
    <span style="font-family:arial,helvetica,sans-serif;">Felicidades haz vendido tu juego {{juego name}}<br />
    <br />
    <b>Datos de contacto del comprador:</b><br />
    Apodo: <u>{{user.username}}</u><br />
    E-mail:</span><u style="font-family: arial, helvetica, sans-serif;">{{user.email}}</u><br />
    <span style="font-family:arial,helvetica,sans-serif;">Tel&eacute;fono:&nbsp;</span><u style="font-family: arial, helvetica, sans-serif;">{{user.phone}}</u><br />
    <span style="font-family:arial,helvetica,sans-serif;">Ciudad:</span><u style="font-family: arial, helvetica, sans-serif;">{{user.city}}</u><br />
    <span style="font-family:arial,helvetica,sans-serif;">Provincia:&nbsp;</span><u style="font-family: arial, helvetica, sans-serif;">{{user.state.name}}</u><br />
    <span style="font-family:arial,helvetica,sans-serif;">Pa&iacute;s:&nbsp;</span><u style="font-family: arial, helvetica, sans-serif;">{{user.country.name}}</u></p>
  <table cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="td1" colspan="2" valign="middle">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;"><b>Pasos para concretar el intercambio:</b></span></p>
        </td>
      </tr>
      <tr>
        <td class="td2" valign="top">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;"><b>1-</b></span></p>
        </td>
        <td class="td3" valign="middle">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;"><b>Cont&aacute;ctate con el comprador</b>&nbsp;para acordar el medio de env&iacute;o y pago del art&iacute;culo m&aacute;s conveniente para ambos.</span></p>
        </td>
      </tr>
      <tr>
        <td class="td2" valign="top">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;"><b>2-</b></span></p>
        </td>
        <td class="td3" valign="middle">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;">Lee los&nbsp;<a href="http://www.nooxr.com/#/tips"><span class="s1">consejos para una transacci&oacute;n segura y exitosa</span></a></span></p>
        </td>
      </tr>
      <tr>
        <td class="td2" valign="top">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;"><b>3-</b></span></p>
        </td>
        <td class="td3" valign="middle">
          <p class="p2">
            <span style="font-family:arial,helvetica,sans-serif;"><b>Califica a tu contraparte.</b>&nbsp;</span><span style="font-family: arial, helvetica, sans-serif;">Tu calificaci&oacute;n es fundamental para que todos conozcamos c&oacute;mo opera este comprador.</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="p3">
    <span style="font-family: arial, helvetica, sans-serif;">Saludos,&nbsp;</span></p>
  <p class="p4">
    <span style="font-family:arial,helvetica,sans-serif;">El equipo de nooxr.com</span></p>
</html>