<div class="sales-active-screen">
  <div class="container">
    <div class="row">
      <account-tabs active-tab="sales/active"></account-tabs>
      <div class="tab-content">
        <div class="slider-cont" ng-class="{'open':offersOpen}">

          <!-- Tabla -->
          <div class="table-offers" >
            <div ng-if="ads.length == 0" class="pagination-container-center">
              <br>No tienes anuncios aún. Empieza a anunciar haciendo <a href="#/add-ad">click aquí</a> 
            </div>
            
            <div class="row offer" ng-repeat="ad in ads">
              <div class="col-md-6 col-xs-6 clearfix col-left">
                <div class="game-cover box-shadow-pretty pull-left mrm">
                  <img ng-src="{{ad.game.thumbnail}}">
                </div>
                <div class="game-details pull-left">
                  <div class="game-title"><a href="#/ad/{{ad.id}}" class="color-wet-asphalt">{{ad.game.name}}</a></div>
                  <div class="game-price color-alizarin">{{ad.price | currency:"₡" }}</div>
                  <div class="minor-details">
                    <span class="game-id">ID: #{{ad.id}}</span> <span class="game-views"><span class="fui-eye" title="Vistas"></span> {{ad.views || '0'}}</span> <span class="game-date"><span class="fui-time" title="Fecha de publicación"></span> {{ad.created_at | date: 'medium'}}</span>
                  </div>
                  <div class="alert alert-warning pending" ng-if="ad.active == false">
                    <span><span class="fa fa-warning"></span> Pendiente de publicar</span>
                  </div>
                  <div class="mtm game-config-alt">
                    <button class="btn btn-embossed btn-danger btn-sm" ng-click="finalizate(ad)">Finalizar</button>
                    <button class="btn btn-embossed btn-info fa fa-pencil game-edit btn-sm" ng-click="openEditAd(ad.id)"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-6 clearfix mbl col-right">
                <div class="col-md-6">
                  <button class="btn btn-embossed btn-primary fa fa-comments btn-sm" ng-click="viewOffers(ad.id)"> {{ad.pending_deals}} Oferta<span ng-if="ad.pending_deals > 1 || ad.pending_deals == 0">s</span> pendiente<span ng-if="ad.pending_deals > 1 || ad.pending_deals == 0">s</span></button>
                  <label class="checkbox" ng-click="autoAcceptBuy(ad)">
                    <input type="checkbox" ng-checked="ad.auto_accept" data-toggle="checkbox" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
                    Auto aceptar compra
                  </label>
                </div>
              
                <div class="col-md-6 clearfix game-config">
                  <button class="btn btn-embossed btn-danger btn-sm" ng-click="finalizate(ad)">Finalizar</button>
                  <button class="btn btn-embossed btn-info fa fa-pencil game-edit btn-sm" ng-click="openEditAd(ad.id)"></button>
                </div>
                
              </div>
            </div>
            
            <div class="pagination-container-center">
              <pagination rotate="false" items-per-page="pItemsPerPage" max-size="'10'"  next-text=">>" previous-text="<<" total-items="pTotalItems" page="pActualPage" num-pages="pNumPages" class="pagination-sm" on-select-page="pPageChange(page)" boundary-links="false"></pagination>
            </div>
          </div>

          <!-- ************************* Negociaciones ************************* -->
          <div class="deals-content">
            <ul class="pager">
              <li class="previous">
                <a href="" ng-click="closeOffers()">
                  <span>
                    <i class="fui-arrow-left"></i>
                    Regresar
                  </span>
                </a>
              </li>
            </ul>
            <h6>Ofertas para: {{activeOffer.game.name}}</h6>
            <div class="comments-deals">
              <small ng-if="deals.length==0">Aún no tienes ofertas</small>
              <!-- REPEAT -->
              <div class="comment-container" ng-repeat="deal in deals" ng-class="{'reply':deal.response, 'accepted':deal.accepted}">
                <div class="perfil-cont">
                  <div class="user-perfil">
                    <div class="avatar"><img ng-src="{{deal.user.picture}}"></div>
                    <div class="record"> <div class="progress" title="Reputación"> <div class="progress-bar" style="width: {{deal.user.score}}%;"></div> <div class="progress-bar progress-bar-danger" style="width: {{100 - deal.user.score}}%;"></div> </div> </div>
                  </div>
                </div>
                <div class="comment-cont box-shadow-pretty">
                  <div class="header">
                    <a href="#/profile/{{deal.user.user_id}}" class="username">{{deal.user.username}}</a>
                    <span class="time color-asbestos">{{deal.created_at  | timeAgo}}</span>
                  </div>
                  <!-- Comment -->
                  <p class="comment">{{deal.text}}</p>
                  <div class="reply-cont" ng-show="dealTextarea[deal.id]">
                    <textarea rows="2" ng-model="responses[deal.id]" class="form-control" placeholder="Respondele a {{deal.user.username}} por qué no aceptas esta oferta"></textarea>
                    <div class="message">Presiona<span class="label label-default"> ENTER</span>para enviar</div>
                  </div>
                  <button class="btn btn-embossed btn-danger btn-reply" ng-if="!deal.response" ng-hide="dealTextarea[deal.id]" ng-click="addReply(deal.id)">No aceptar</button>
                  <button class="btn btn-embossed btn-primary btn-reply" ng-if="!deal.response" ng-hide="dealTextarea[deal.id]" ng-click="acceptOffer(deal)">Aceptar</button>
                  <button class="btn btn-embossed btn-primary btn-reply" ng-if="!deal.response" ng-hide="!dealTextarea[deal.id]" ng-click="sendReply(deal.id)">Responder</button>
                  <button class="btn btn-embossed btn-danger btn-reply" ng-if="!deal.response" ng-hide="!dealTextarea[deal.id]" ng-click="cancelReply(deal.id)">Cancelar</button>

                  <!-- Response -->
                  <div class="response" ng-if="deal.response">
                    <i class="fa fa-level-up fa-1"></i>
                    <div class="response-header">
                      <span class="title color-alizarin">Tu Respuesta</span><span class="time color-asbestos">{{deal.updated_at  | timeAgo}}</span>
                    </div>
                    <p class="comment">{{deal.response}}</p>
                  </div>
                </div>
              </div>
              <!-- END REPEAT -->
            </div>
          </div>
          <!-- ************************* FIN / Negociaciones ************************* -->
          


        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="editAdModal">
  <div class="modal-header">
    <h6>{{editAd.game.name}}</h6>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-field">
          <div class="select2-container form-control select select-default">
            <select ui-select2 ng-model="editAd.console.id" data-placeholder="Consola">
              <option value=""></option>
              <option ng-repeat="console in consoles" value="{{console.id}}">{{console.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-field">
          <div class="select2-container form-control select select-default">
            <select ui-select2 ng-model="editAd.game_state.id" data-placeholder="Estado del juego">
              <option value=""></option>
              <option ng-repeat="gameState in gameStates" value="{{gameState.id}}">{{gameState.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-field" ng-class="{'form-group has-error':validation.price}">
          <input type="text" class="form-control" ng-model="editAd.price" currency-input placeholder="Precio">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-field">
          <input type="text" class="form-control" ng-model="editAd.comment" placeholder="Comentario Adicional">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-field">
          <input type="text" class="form-control" ng-model="editAd.accepted_games" placeholder="Por cuales juegos lo cambiarías">
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-embossed" ng-click="save()">Guardar</button>
    <button class="btn btn-danger btn-embossed" ng-click="cancel()">Cancel</button>
  </div>
</script>