<div class="sales-finished-screen">
  <div class="container">
    <div class="row">
      <account-tabs active-tab="sales/finished"></account-tabs>
      <div class="tab-content clearfix">
        <div class="col-md-12">
            <div class="table-offers">
              <div ng-if="ads.length == 0" class="pagination-container-center">
                <br>No tienes anuncios aún. Empieza a anunciar haciendo <a href="#/add-ad">click aquí</a> 
              </div>


              <div class="row offer" ng-repeat="ad in ads">
              <div class="col-md-8 col-xs-12 clearfix col-left">
                <div class="game-cover box-shadow-pretty pull-left mrm">
                  <img ng-src="{{ad.ad.game.thumbnail}}">
                </div>
                <div class="game-details pull-left">
                  <div class="game-title"><a href="#/ad/{{ad.ad.id}}" class="color-wet-asphalt">{{ad.ad.game.name}}</a></div>
                  <div class="game-price color-alizarin">{{ad.ad.price | currency:"₡" }}</div>
                  <div class="minor-details">
                    <span class="game-id">ID: #{{ad.ad.id}}</span> <span class="game-views"><span class="fui-eye" title="Vistas"></span> {{ad.ad.views || '0'}}</span> <span class="game-date"><span class="fui-time" title="Fecha de publicación"></span> {{ad.ad.created_at | date: 'medium'}}</span>
                  </div>
                  <div class="mtm game-config-alt">
                    <button class="btn btn-embossed btn-danger btn-sm" ng-click="finalizate(ad)">Finalizar</button>
                    <button class="btn btn-embossed btn-info fa fa-pencil game-edit btn-sm" ng-click="openEditAd(ad.id)"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 clearfix mbl col-right">
                 <button class="btn btn-embossed btn-info btn-sm" ng-click="republish(ad.ad)">Republicar</button>
                  <div class="user-rating" ng-if="ad.user_rate">
                    <div ng-if="ad.user_rate.score > 0">
                      <div class="text"><a href="#/profile/{{ad.winner_deal.user.user_id}}">{{ad.winner_deal.user.username}}</a></div>
                      <user-rating state="ad.user_rate.score"  active-rating="off"></user-rating>
                      <a href="" ng-click="showBuyerData(ad)">Datos del comprador</a>
                    </div>
                    <div ng-if="!ad.user_rate.score">
                      <div class="text">Calificar al comprador <a href="#/profile/{{ad.winner_deal.user.user_id}}">{{ad.winner_deal.user.username}}</a></div>
                      <user-rating state="tempRates[$index]" extra-data="ad.user_rate" on-change="rateUser" active-rating="on"></user-rating>
                      <a href="" ng-click="showBuyerData(ad)">Datos del comprador</a>
                    </div>
                  </div>
                
              </div>
            </div>

                <div class="pagination-container-center">
                  <pagination rotate="false" next-text=">>" items-per-page="pItemsPerPage" max-size="'10'"  previous-text="<<" total-items="pTotalItems" page="pActualPage" num-pages="pNumPages" class="pagination-sm" on-select-page="pPageChange(page)" boundary-links="false"></pagination>
                </div>
            </div>
        </div>
    
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="rateUserModal">
  <div class="modal-header">
      <h6>Calificar Comprador</h6>
  </div>
    <div class="modal-body">
        <div class="row">

          <div class="col-md-12">

            <div class="form-field" ng-class="{'form-group has-error':validation.rateComment}">
              <input type="text" class="form-control" ng-model="$parent.rateComment" placeholder="Agrega un comentario a la calificación">
               <p style="font-size:12px;">La calificación solo será almacenada si agregas un comentario</p>
            </div>
          </div>
         
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default btn-embossed" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary btn-embossed" ng-click="rateUser()">Calificar</button>
  </div>
</script>